<script class="cartFlagX"></script><form action="{{ routes.cart_url }}" method="post" novalidate="" class="cart-drawer-form">
	<div id="cartSlideoutWrapper" class="envy-shopping-right slideout-panel-hidden cart-drawer-right">

		<div class="cart-drawer__top">
			<div class="cart-drawer__empty-div"></div>
			<h3 class="type-subheading type-subheading--1 wow fadeIn">
				<span class="cart-drawer--title">{{ 'cart.general.title' | t }}</span>
			</h3>
			<a href="#" class="slide-menu cart-close-icon cart-menu-close"><i data-feather="x"></i></a>
		</div>
      
      
      	{% if request.host == 'relevantcos.de' %}
      	<div class="cart-drawer-shipping">
          <span class="cart-drawer-shipping--title">{{ cart.total_price | money }}</span>
      	</div>
            
      	<div class="ajax-cart--total-price">
			<h5><span class="cart-total-price" id="cart-price"><span class="hey"><span id=''><span style="" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span></span></span></h5>
		</div>
      
      	{% endif %}

		<div class="cart-error-box"></div>

		<div class="cart-empty-box">

			{% comment %}{{ 'cart.general.empty' | t }}{% endcomment %}
          
          <a href="/collections/all-products">{{ 'cart.general.empty' | t }}</a>

          
		</div>

		<script type="application/template" id="cart-item-template">
        	
        
			<div class="cart-item">
				<div class="cart-item-image--wrapper">
					<a class="cart-item-link" href="/product">
						<img
							class="cart-item-image"
							src="/product/image.jpg"
							alt=""
						/>
					</a>
				</div>
				<div class="cart-item-details--wrapper">
					<a href="/product" class="cart-item-link cart-item-details--product-title-wrapper">
						<span class="cart-item-product-title"></span>
						<span class="cart-item-variant-title hide"></span>
					</a>

						<div class="cart-item-price-wrapper">
							<span class="sr-only">{{ 'products.general.now_price' | t }}</span>
							<span class="cart-item-price"></span>
							<span class="sr-only">{{ 'products.general.was_price' | t }}</span>
                            
							<span class="cart-item-price-original"></span>
							<span class="cart-item-price-per-unit"></span>
						</div>
                        
                        

						<ul class="order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}"></ul>

						<div class="cart-item--quantity-remove-wrapper">
							<div class="cart-item--quantity-wrapper">
								<button type="button" class="cart-item-quantity-button cart-item-decrease" data-amount="-1" aria-label="Reduce item quantity by one" style="border-right:1px solid rgba(0,0,0,0.1);">-</button>
								<input type="text" class="cart-item-quantity" min="1" pattern="[0-9]*" aria-label="quantity" />
								<button type="button" class="cart-item-quantity-button cart-item-increase" data-amount="1" aria-label="Increase item quantity by one" style="border-left:1px solid rgba(0,0,0,0.1);">+</button>
							</div>


							
							<div class="cart-item-remove-button-container">
								<button type="button" id="cart-item-remove-button">
          							<svg width="9" viewBox="0 0 10 10">
                                    	<path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path>
          							</svg>
          						</button>
							</div>
                            
                        
                        
                        {% comment %} 
						</div>

						<div class="cart-item-remove-button-container">
								<button type="button" id="cart-item-remove-button">{{ 'cart.general.remove' | t }}</button>
						</div>
						{% endcomment %}

				</div>
			</div>
            
       
		</script>
            
		<script type="application/json" id="initial-cart">
			{{ cart | json }}
		</script>

		<div class="cart-items"></div>

		<div class="ajax-cart--bottom-wrapper">
          
		{% if settings.allow_note %}
		<div class="ajax-cart--checkout-add-note">
				<p>{{ 'cart.general.note' | t }}&hellip;</p>
				<textarea id="note" name="note" class="form-control">{{ cart.note }}</textarea>
		</div>
		{% endif %}

		{% if settings.enable_terms_conditions %}
		<div class="ajax-cart--terms-conditions">
				<div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="agree" data-terms-agree="{{ 'cart.general.terms_agree' | t | escape }}" />
										{% if settings.terms_conditions_link == blank %}
											{{ 'cart.general.terms_text' | t }}
										{% else %}
											{{ 'cart.general.terms_text_html' | t | replace: '#', settings.terms_conditions_link }}
										{% endif %}
                </label>
            </div>
        </div>
		</div>
		{% endif %}

		<div class="ajax-cart--cart-discount">
			<div class="cart--order-discount-wrapper custom-font ajax-cart-discount-wrapper"></div>
		</div>
		
          
        {% comment %} Hardcoding so it shows "total" instead of "subtotal". Remember to change when we change the shipping prices. {% endcomment %}
		{% comment %} <span class="cart-price-text type-subheading"><span id=''>{{ 'cart.general.subtotal' | t }}</span></span> {% endcomment %}
          
          
         {% comment %}<span class="cart-price-text type-subheading"><span id=''><ly-as-117742>Total (free shipping)</ly-as-117742></span></span>{% endcomment %}
          
          
          

		<div class="ajax-cart--cart-original-price">
			<span class="cart-item-original-total-price"><span class="money">{{ cart.original_total_price | money }}</span></span>
		</div>
          
		{% comment %}
		<div class="ajax-cart--total-price">
			<h5><span class="cart-total-price" id="cart-price"><span class="money"><span id=''><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span></span></span></h5>
		</div>
        {% endcomment %}

		<div class="slide-checkout-buttons" style="margin-top:0px!important;">
			<button type="submit" name="checkout" id="checkout" class="btn cart-button-checkout">
				<span class="cart-button-checkout-text">{{ 'cart.general.checkout' | t }}</span>
				<div class="cart-button-checkout-spinner lds-dual-ring hide"></div>
			</button>
          	<img class="payment-logo" src="{{ 'payments_logo_all.png' | asset_img_url: '400x'}}" style="width:80%; padding-top:5px;">
          
          <!-- hide express checkout
			{% if additional_checkout_buttons and settings.enable-additional-checkout-buttons %}
				<div class="additional-checkout-buttons">
					{{ content_for_additional_checkout_buttons }}
				</div>
			{% endif %}
		  -->
          
			{% if settings.enable_continue_shopping %}
				<a href="#" class="btn btn-default cart-menu-close secondary-button">{{ 'layout.cart.continue_shopping' | t }}</a><br />
			{% endif %}
		</div>


		</div>

	</div>
</form>
