<script class="cartFlagX"></script>

{% assign cart_origin_total = 0 %}
{% assign cart_discount_total = 0 %}

<form action="{{ routes.cart_url }}" method="post" novalidate="" class="cart-drawer-form">
	<div id="cartSlideoutWrapper" class="envy-shopping-right slideout-panel-hidden cart-drawer-right">

		<div class="cart-drawer__top">
			<div class="cart-drawer__empty-div"></div>
			<h3 class="type-subheading type-subheading--1 wow fadeIn">
				<span class="cart-drawer--title">{{ 'cart.general.title' | t }}</span>
			</h3>
			<a href="#" class="slide-menu cart-close-icon cart-menu-close"><i data-feather="x"></i></a>
		</div>
      
      
      	{% assign promote_text = "[value] away from free shipping 📦"%}
        {% assign unlocked_text = "Congrats! You get free shipping 🎊"%}
      
      	{% if request.host == 'relevantcos.dk' %}
        	{% assign threshold = 30000 %}
        {% elsif request.host == 'relevantcos.se' %}
      		{% assign threshold = 40000 %}
      	{% elsif request.host == 'relevantcos.co.uk' %}
      		{% assign threshold = 3500 %}
      	{% elsif request.host == 'relevantcos.us' %}
      		{% assign threshold = 5000 %}
      	{% else %}
      		{% assign threshold = 4000 %}
      	{% endif %}
      
        {% assign value_left = threshold | minus: cart.total_price %}
        {% assign value_left_money = value_left | money %}
      	
      	<div class="shipping-bar-container" data-shipping-bar>
          <div class="shipping-bar" data-promote="{{promote_text}}" data-unlocked="{{unlocked_text}}" data-threshold="{{threshold}}">
            {% if value_left <= 0 %}
            <p class="shipping-bar__message">{{unlocked_text}}</p>
            {% else %}
            <p class="shipping-bar__message">{{promote_text | replace:'[value]', value_left_money}}</p>
            {% endif %}
          </div>
          <div class="shipping-bar-progress" style="background-color: rgb(180, 182, 188);">
            <span id="shipping-progress-inner" class="shipping-bar-progress-inner" style="width: 100%;"></span>
          </div>
          
      	</div>
      
      <style>
        .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {
            -ms-touch-action: pan-y !important;
            touch-action: pan-y !important;
        }
        .shipping-bar-container{
          margin-bottom:15px;
        }
        .shipping-bar{
          margin: 10px 0px;
          color: #505c4a;
        }
        .shipping-bar__message{
          margin: 0px;
        }
        .shipping-bar-progress{
          margin: 0px 15px;
          position: relative;
          height: 4px;
          border-radius: 2px;
        }
        .shipping-bar-progress-inner{
          background-color: #505C4A;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          transition: width .3s cubic-bezier(.32,.36,.4,1);
          border-radius: 2px;
          max-width: 100%;
        }
        
        .cart-item .cart-item-details--wrapper .cart-item-details--product-title-wrapper {
          display: flex;
          justify-content: space-between;
          font-size:12px;
          margin-bottom: 0px;
        }
        .cart-item .cart-item-details--wrapper .cart-item-product-title{
          width:75%;
        }
        .cart-item .cart-item-details--wrapper .cart-item-price-wrapper{margin-bottom:0px;}
        
        .envy-shopping-right .cart-empty-box {
          margin-top: 0px!important; 
          padding-top:50px;
          background: #f8f9fa;
        }
        .cart-upsell-text{
          margin-top: 5px; 
          font-weight: bold;
          background: #cece;
          color: #50a24a;
          padding: 0px 5px;
        }
        
      </style>
      
      	<div class="cart-upsell-wrapper">
        	<div class="cart-upsell-text">
            	<span></span>
            </div>
        </div>
      
		<div class="cart-error-box"></div>

		<div class="cart-empty-box">
			{% comment %}{{ 'cart.general.empty' | t }}{% endcomment %}
          <a href="/collections/all-products">{{ 'cart.general.empty' | t }}</a>
		</div>

		<script type="application/template" id="cart-item-template">
        	
        
			<div class="cart-item">
				<div class="cart-item-image--wrapper">
					<a class="cart-item-link" href="/product">
						<img
							class="cart-item-image"
							src="/product/image.jpg"
							alt=""
						/>
					</a>
				</div>
				<div class="cart-item-details--wrapper">
					<a href="/product" class="cart-item-link cart-item-details--product-title-wrapper">
						<span class="cart-item-product-title"></span>
						  
                    <div class="cart-item-price-wrapper">
							<span class="sr-only">{{ 'products.general.now_price' | t }}</span>
							<span class="cart-item-price"></span>
							<span class="sr-only">{{ 'products.general.was_price' | t }}</span>
                            
							<span class="cart-item-price-original"></span>
							<span class="cart-item-price-per-unit"></span>
						</div>    
                    
					</a>
                    
                    <span class="cart-item-variant-title hide"></span>

						<ul class="order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}"></ul>

						<div class="cart-item--quantity-remove-wrapper">
							<div class="cart-item--quantity-wrapper">
								<button type="button" class="cart-item-quantity-button111 cart-item-decrease111" data-amount="-1" aria-label="Reduce item quantity by one" style="border-right:1px solid rgba(0,0,0,0.1);">-</button>
								<input type="text" class="cart-item-quantity" min="1" pattern="[0-9]*" aria-label="quantity" />
								<button type="button" class="cart-item-quantity-button111 cart-item-increase111" data-amount="1" aria-label="Increase item quantity by one" style="border-left:1px solid rgba(0,0,0,0.1);">+</button>
							</div>

							<div class="cart-item-remove-button-container">
								<button type="button" id="cart-item-remove-button111" data-item-remove>
          							<svg width="9" viewBox="0 0 10 10">
                                    	<path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path>
          							</svg>
          						</button>
							</div>

						</div>
                        
                        {% comment %} 
						<div class="cart-item-remove-button-container">
								<button type="button" id="cart-item-remove-button">{{ 'cart.general.remove' | t }}</button>
						</div>
						{% endcomment %}
				</div>
			</div>
		</script>
            
		<script type="application/json" id="initial-cart">
			{{ cart | json }}
		</script>

		<div class="cart-items" data-cart-items data-count="{{ cart.item_count }}">

      {% assign idx = 0 %}
      {% assign item_count = 0 %}

      {% for item in cart.items %}
        {% if item.product.tags contains 'discount' %}
          {% assign item_count = item_count | plus: item.quantity %}
        {% endif %}
      {% endfor %}


      {% if item_count == 2 %}
        {% assign idx = 1 %}
      {% elsif item_count == 3 %}
        {% assign idx = 2 %}
      {% elsif item_count >= 4 %}
        {% assign idx = 3 %}
      {% endif %}


      {% for item in cart.items %}

        {% assign c_variant = item.variant %}

        {% assign new_variant = c_variant %}

        {% assign id = c_variant.id %}

        {% assign original_price = 0 %}


        {% assign is_discount = flase %}

        {% comment %}
          {% assign item_count = 0 %}
        {% endcomment %}

        {% for __item in cart.items %}
          {% if item.product.id == __item.product.id %}
            {% assign item_count = item_count | plus: __item.quantity %}
          {% endif %}
        {% endfor %}

        {% comment %}
        {% assign idx = 0 %}
        {% endcomment %}

        {% if item.product.tags contains 'discount' %}

          {% assign is_discount = true %}

          {% comment %}
          {% if item_count == 2 %}
            {% assign idx = 1 %}
          {% elsif item_count == 3 %}
            {% assign idx = 2 %}
          {% elsif item_count >= 4 %}
            {% assign idx = 3 %}
          {% endif %}
          {% endcomment %}

          {% if item.product.options.size == 1 %}
            {% assign id = item.product.variants[idx].id %}
            {% assign new_variant = item.product.variants[idx] %}
            {% assign original_price = item.product.variants.first.price %}
          {% else %}
            {% assign opt_len = item.product.options.size | minus: 1 %}
            {% assign _idx = 0 %}


            {% for variant in item.product.variants %}

              {% if forloop.first %}
                {% assign original_price = variant.price %}
              {% endif %}

              {% assign is_v = true %}

              {% for i in (1..opt_len) %}
                {% assign opt_handle = 'option' | append: i %}

                {% if variant[opt_handle] == c_variant[opt_handle] %}
                {% else %}
                  {% assign is_v = false %}
                  {% break %}
                {% endif %}
              {% endfor %}

              {% if idx == _idx and is_v == true %}
                {% assign id = variant.id %}
                {% assign new_variant = variant %}
                {% break %}
              {% endif %}

              {% if is_v == true %}
                {% assign _idx = _idx | plus: 1 %}
              {% endif %}

            {% endfor %}


            {% comment %}

            {% for i in (1..opt_len) %}
              {% assign opt_handle = 'option' | append: i %}
              {% for variant in item.product.variants %}
                {% if forloop.first %}
                  {% assign original_price = variant.price %}
                {% endif %}
                {% if variant[opt_handle] == c_variant[opt_handle] %}
                  {% if idx == _idx %}
                    {% assign id = variant.id %}
                    {% assign new_variant = variant %}
                  {% endif %}
                  {% assign _idx = _idx | plus: 1 %}
                {% endif %}
              {% endfor %}
            {% endfor %}

            {% endcomment %}



          {% endif %}
        {% else %}
          {% assign original_price = item.product.variants.first.price %}
        {% endif %}

        <div class="cart-item" data-id="{{ id }}" data-product-id="{{ item.product.id }}" data-idx="{{ idx }}" data-count="{{ item.quantity }}" data-discount="{{ is_discount }}" data-discount-index="{{ idx }}">

          <div class="cart-item-image--wrapper">
            <a class="cart-item-link" href="{{ item.url }}">
              <img class="cart-item-image" src="{{ item | img_url: '200x' }}" alt="" />
            </a>
          </div>

          <div class="cart-item-details--wrapper">

            <a href="{{ item.url }}" class="cart-item-link cart-item-details--product-title-wrapper">
              <span class="cart-item-product-title">{{ item.product.title }}<br>{{ new_variant.title | replace: ' / 0%', '' }}</span>
              <div class="cart-item-price-wrapper">
                <!-- <span class="sr-only">{{ 'products.general.now_price' | t }}</span> -->
                {% assign original_line_price = original_price | times: item.quantity %}
                {% assign new_line_price = new_variant.price | times: item.quantity %}
                {% if original_line_price > new_line_price %}
                  <span class="was-price">{{ original_line_price | money }}</span>
                {% endif %}

                {% assign cart_origin_total = cart_origin_total | plus: original_line_price %}
                {% assign cart_discount_total = cart_discount_total | plus: new_line_price %}

                <span class="cart-item-price" data-original="{{ cart_origin_total | money }}" data-discount="{{ cart_discount_total | money }}">{{ new_line_price | money }}</span>
                <!-- <span class="sr-only">{{ 'products.general.was_price' | t }}</span> -->
                              
                <span class="cart-item-price-original"></span>
                <span class="cart-item-price-per-unit"></span>
              </div>    
            </a>
                      
            <span class="cart-item-variant-title hide"></span>

              <ul class="order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}"></ul>

              <div class="cart-item--quantity-remove-wrapper">

                <div class="cart-item--quantity-wrapper">
                  <button type="button" class="cart-item-quantity-button111 cart-item-decrease111" data-qty-update data-amount="-1" aria-label="Reduce item quantity by one" style="border-right:1px solid rgba(0,0,0,0.1);">-</button>
                  <input type="text" class="cart-item-quantity" min="1" pattern="[0-9]*" aria-label="quantity" value="{{ item.quantity }}" />
                  <button type="button" class="cart-item-quantity-button111 cart-item-increase111" data-qty-update data-amount="1" aria-label="Increase item quantity by one" style="border-left:1px solid rgba(0,0,0,0.1);">+</button>
                </div>

                <div class="cart-item-remove-button-container">
                  <button type="button" id="cart-item-remove-button111" data-item-remove>
                    <svg width="9" viewBox="0 0 10 10">
                      <path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path>
                    </svg>
                  </button>
                </div>

              </div>
          </div>
        </div>

      {% endfor %}
    </div>
      	
        <div class="featured-collection-slider page-width" id="upsell_carousel" data--hidden>
        {% assign collection = collections.single-products %}
        {% assign product_limit = 4 %}
          
          <p id="upsell-header">Discover our new products<p>

            <div class="owl-carousel owl-theme">
              {% for product in collection.products limit: product_limit %}
              
              	{% for variant in product.variants %}
              			
                      <div class="carousel-cell">
                          <div class="cart-item-image--wrapper" id="upsell-image-wrapper">
                              <img class="img-explore" src="{{ variant.featured_image | img_url: 'master'}}">
                          </div>
                          <div class="cart-item-details--wrapper">
                            <div class="cart-upsell-title-price">
                              <span class="cart-item-product-title">{{ product.title }}</span>
                              <span class="cart-item-price"><span class="money">{{ product.price | money | remove: ',00' }}</span></span>
                            </div>
                            
                          <div class="cart-upsell-variant">
                            <span class="cart-item-variant">{{variant.title}}</span>
                          </div>
                            
							<input type="button" v_id="{{variant.id}}" value="Add" class="add_to_cart" id="upsell_btn" />
                            
                          </div>
                      </div>
            	{% endfor %}  
            {% endfor %}
            </div>
        </div>      
            
      <style>
        .owl-stage{padding-left:0px!important;}
        #upsell_carousel .owl-dots{display:none;margin-top:0px!important;}
        .featured-collection-slider {
          background: #f8f9fa;
          padding-top: 10px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 5px;
          border-top: 1px solid rgba(80, 92, 74, 0.1);
        }
        .carousel-cell{
          background:#ffffff;
          border-radius:8px;
          padding: 12px;
          display: flex!important
        }
      .carousel-cell img {
          height: 100px;
       	  width: 70px;
          object-fit: cover;
        }
        .carousel-cell .cart-item-product-title {
          text-align:left;
          padding-right:0px;
          font-size:11px;
          width:70%;
        }
        .featured-collection-slider .carousel-cell{
          margin-right: 10px;
        }
        .flickity-button:disabled{
          pointer-events: all!important;
        }
        .flickity-page-dots .dot{background:#505C4A;}
        
        .cart-upsell-variant{
          text-align: left;
          font-size: 12px;
          color: #999999;
          margin-bottom: 10px;
        }
        .cart-item .cart-item-details--wrapper{
          width: 100%;
        }
        .cart-items{
          background: #f8f9fa;
        }
        .cart-upsell-container{
          padding: 0px 15px;
          background: #f8f9fa
        }
        #upsell-header{
          font-size:14px;
          font-weight:bold;
        }
        .cart-upsell-title-price{
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          font-family: 'Montserrat Alternates';
          font-weight: 600;
          line-height: 1.2;
          font-size: 11px;
        }
        .cart-upsell-variant-dropdown{
          margin-bottom:6px;
        }
        #cart-upsell{
          background: #ffffff;
          border-radius: 8px;
    	  margin-bottom: 16px;
          box-shadow: 0 2px 2px 0 rgb(0 0 0 / 2%);
        }
        .input__relevant{
          position: relative;
        }
        .input--select .icon{
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          transition: opacity .15s cubic-bezier(.32,.36,.4,1);
        }
        #select__variant{
          display:block;
          border:1px solid #505C4A;
          font-size: 16px;
          appearance: none;
          padding: 8px 40px 8px 16px;
          line-height:1;
        }
        #upsell_btn{
          width: 100%;
          min-height: 35px;
          background: #505C4A;
          color: #ffffff;
          font-size: 14px;
          font-family: 'Quicksand';
          font-weight: var(--button-font-weight)!important;
          text-transform: var(--buttons-transform);
          letter-spacing: var(--buttons-letter-spacing);
          border: none;
        }
        #upsell-image-wrapper{
          padding-right: 10px;
          width: 35%;
        }
        #footer-payment-methods-drawer{
          height:24px!important;
          border-radius: 5px;
          padding: 0px;
          margin: 10px 0px;
        }
        .ajax-cart-price-wrapper{
          margin-top:0px;
          margin-bottom:15px;
          margin-left:30px;
          margin-right:30px;
          line-height: 1.4;
        }
        .ajax-cart-original-price{
          display: flex;
          justify-content: space-between;
          font-size: 14px;
        }  
        .ajax-cart-discount{
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: red;
        }  
        .ajax-cart--total-price{
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          font-weight: bold;
        }
        .original-price-span{
          text-decoration: line-through;
        }
        .cart-item-price{text-align:right;}
      </style>


		<div class="ajax-cart--bottom-wrapper">
          
          <div class="ajax-cart-price-wrapper">  
              <div class="ajax-cart--total-price">
                  <span class="cart-total-text">Subtotal</span>
                  <span class="cart-total-price" id="cart-price" style="font-size:14px;"><span class="money"><span id=''><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span></span></span>
                  <!--<h5><span class="cart-total-price" id="cart-price"><span class="money"><span id=''><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span></span></span></h5>-->
              </div>
        	</div>
          
		{% if settings.allow_note %}
		<div class="ajax-cart--checkout-add-note">
				<p>{{ 'cart.general.note' | t }}&hellip;</p>
				<textarea id="note" name="note" class="form-control">{{ cart.note }}</textarea>
		</div>
		{% endif %}

		{% if settings.enable_terms_conditions %}
		<div class="ajax-cart--terms-conditions">
				<div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="agree" data-terms-agree="{{ 'cart.general.terms_agree' | t | escape }}" />
										{% if settings.terms_conditions_link == blank %}
											{{ 'cart.general.terms_text' | t }}
										{% else %}
											{{ 'cart.general.terms_text_html' | t | replace: '#', settings.terms_conditions_link }}
										{% endif %}
                </label>
            </div>
        </div>
		</div>
		{% endif %}

		<div class="ajax-cart--cart-discount">
			<div class="cart--order-discount-wrapper custom-font ajax-cart-discount-wrapper"></div>
		</div>
		
        {% comment %} Hardcoding so it shows "total" instead of "subtotal". Remember to change when we change the shipping prices. {% endcomment %}
		{% comment %} <span class="cart-price-text type-subheading"><span id=''>{{ 'cart.general.subtotal' | t }}</span></span> {% endcomment %}
        {% comment %} <span class="cart-price-text type-subheading"><span id=''><ly-as-117742>Total (free shipping)</ly-as-117742></span></span>{% endcomment %}

		<div class="ajax-cart--cart-original-price">
			<span class="cart-item-original-total-price"><span class="money">{{ cart.original_total_price | money }}</span></span>
		</div>
        

          
		<div class="slide-checkout-buttons" style="margin-top:0px!important;">
      <div class="cart_summary" data-cart-summary>

        {% assign num_total = cart_origin_total | money_without_currency | replace: ',', '' %}
        {% assign num_discount = cart_discount_total | money_without_currency | replace: ',', '' %}
        {% assign num_save = num_total | minus: num_discount %}

        <div class="cart_total text-bold">
          <span class="label">Total</span>
          <span class="price">{{ cart_origin_total | minus: num_save | money }}</span>
        </div>

        {% if cart_origin_total > cart_discount_total %}
          <div class="cart_save">
            <span class="label">You save</span>

        
            <span class="price">{{ num_save | money }}</span>
          </div>
        {% endif %}
      </div>

			<button type="submit" name="checkout" id="checkout" class="btn cart-button-checkout">
				<span class="cart-button-checkout-text">{{ 'cart.general.checkout' | t }}</span>
				<div class="cart-button-checkout-spinner lds-dual-ring hide"></div>
			</button>
          
          	{% unless enabled_payment_types == empty %}
            	<ul id="footer-payment-methods-drawer" class="inline-list payment-icons">
                	{% assign enabled_payment_types = 'apple_pay,mobilepay,visa,master,paypal,ideal' | remove: ' ' | split: ',' %}
					{% for type in enabled_payment_types %}
                    	{{ type | payment_type_svg_tag: class:'payment-icon'}}
                    {% endfor %}
               </ul>
            {% endunless %}
                    
          <!-- hide express checkout
			{% if additional_checkout_buttons and settings.enable-additional-checkout-buttons %}
				<div class="additional-checkout-buttons">
					{{ content_for_additional_checkout_buttons }}
				</div>
			{% endif %}
		  -->
          
			{% if settings.enable_continue_shopping %}
				<a href="#" class="btn btn-default cart-menu-close secondary-button">{{ 'layout.cart.continue_shopping' | t }}</a><br />
			{% endif %}
		</div>
		</div>
	</div>
</form>