{%- assign supported_4_letter_codes = 'zh-TW,zh-CN,pt-PT,pt-BR' | split: ',' -%}
{%- assign key = 'ly_switcher_data_' | append: theme.id -%}
{%- assign switcherSettings = shop.metafields.global[key] -%}
{%- assign languages = shop.published_locales -%}
{%- if switcherSettings.languages.size > 0 -%}
  {%- assign languages = switcherSettings.languages -%}
{%- endif -%}
{%- if switcherSettings -%}
  {%- assign languageDetection = switcherSettings.languageDetection -%}
  {%- assign languageDetectionDefault = switcherSettings.languageDetectionDefault -%}
  {%- assign customCSS = switcherSettings.customCSS -%}
  {%- assign breakpoints = switcherSettings.breakpoints -%}
  {%- assign recommendation = switcherSettings.recommendation -%}
  {%- assign recommendation_enabled = switcherSettings.recommendation_enabled -%}
  {%- assign recommendation_type = switcherSettings.recommendation_type -%}
  {%- assign recommendation_switcher_key = switcherSettings.recommendation_switcher_key -%}
  {%- assign recommendation_strings = switcherSettings.recommendation_strings -%}
{%- else -%}
  {%- assign type = 'custom' -%}
  {%- assign show_custom_name = true -%}
  {%- assign show_name = false -%}
  {%- assign show_iso_code = false -%}
  {%- assign rectangle_icons = true -%}
  {%- assign square_icons = false -%}
  {%- assign round_icons = false -%}
  {%- assign is_transparent = false -%}
  {%- assign is_dark = false -%}
  {%- assign position = 'fixed' -%}
  {%- assign corner = 'bottom_right' -%}
  {%- assign h_space = 0 -%}
  {%- assign v_space = 0 -%}
  {%- assign h_item_space = 0 -%}
  {%- assign v_item_space = 0 -%}
  {%- assign breakpoints = 'default' -%}
  {%- assign arrow_size = 100 -%}
  {%- assign arrow_width = 1 -%}
  {%- assign arrow_filled = false -%}
  {%- assign fontsize = 14 -%}
  {%- assign text_color = '#000000' -%}
  {%- assign bg_color = '#ffffff' -%}
{%- endif -%}

{%- assign current_root_url = request.locale.root_url | downcase | append: '/' -%}
{%- assign path = request.path | split: "'" -%}
{%- assign unlocalized_path = path[0] | downcase | replace_first: current_root_url, '/' -%}
{%- if unlocalized_path == request.locale.root_url -%}
  {%- assign unlocalized_path = '' -%}
{%- endif -%}


{%- for breakpoint in breakpoints -%}
{% if breakpoint.key == cs_bp %}
  {%- capture switcher -%}

    {%- if switcherSettings -%}
      {%- assign switcherData = breakpoint.config -%}
      {%- assign type = switcherData.type -%}
      {%- assign show_name = switcherData.show_name -%}
      {%- assign show_custom_name = switcherData.show_custom_name -%}
      {%- assign show_iso_code = switcherData.show_iso_code -%}
      {%- assign rectangle_icons = switcherData.rectangle_icons -%}
      {%- assign square_icons = switcherData.square_icons -%}
      {%- assign round_icons = switcherData.round_icons -%}
      {%- assign is_transparent = switcherData.is_transparent -%}
      {%- assign is_dropup = switcherData.is_dropup -%}
      {%- assign is_dark = switcherData.is_dark -%}
      {%- assign position = switcherData.position -%}
      {%- assign corner = switcherData.corner -%}
      {%- assign h_space = switcherData.h_space -%}
      {%- assign v_space = switcherData.v_space -%}
      {%- assign h_item_space = switcherData.h_item_space -%}
      {%- assign v_item_space = switcherData.v_item_space -%}
      {%- assign h_item_padding = switcherData.h_item_padding -%}
      {%- assign v_item_padding = switcherData.v_item_padding -%}
      {%- assign fontsize = switcherData.fontsize -%}
      {%- assign text_color = switcherData.text_color -%}
      {%- assign bg_color = switcherData.bg_color -%}
      {%- assign border_color = switcherData.border_color -%}
      {%- assign border_width = switcherData.border_width -%}
      {%- assign border_radius = switcherData.border_radius -%}
      {%- assign arrow_size = switcherData.arrow_size -%}
      {%- assign arrow_width = switcherData.arrow_width -%}
      {%- assign arrow_filled = switcherData.arrow_filled -%}
      {%- assign currency_switcher_enabled = switcherData.currency_switcher_enabled -%}
    {%- endif -%}

    {% capture arrow %}
      {%- assign scalefactor = arrow_size | times: 0.01 -%}
      {%- assign realsize = fontsize | times: scalefactor -%}
      {%- assign quarter = realsize | divided_by: 4 -%}
      <div class="ly-arrow {% if is_dark %}ly-arrow-white{% else %}ly-arrow-black{% endif %} {% if arrow_filled %}caret{% else %}stroke{% endif %}" style="vertical-align: middle; width: {{ realsize }}px; height: {{ realsize }}px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ realsize }} {{ realsize }}" height="{{ realsize }}px" width="{{ realsize }}px" style="position: absolute;">
          <path d="M{{ arrow_width | plus: 0 }} {{ arrow_width | plus: quarter }} L{{ realsize | divided_by: 2 }} {{ realsize | divided_by: 2 | plus: quarter }} L{{ realsize | minus: arrow_width }} {{ arrow_width | plus: quarter }}" fill="{% if arrow_filled %}{{ text_color }}{% else %}transparent{% endif -%}" stroke="{% if arrow_filled %}transparent{% else %}{{ text_color }}{% endif -%}" stroke-width="{% if arrow_filled %}0{% else %}{{ arrow_width }}px{% endif -%}"/>
        </svg>
      </div>
      {%- if recommendation_enabled and breakpoint.key == recommendation_switcher_key -%}
        {%- assign realsize = recommendation.recommendation_fontsize -%}
        {%- assign quarter = realsize | divided_by: 4 -%}        
        <div class="ly-arrow recommendation {% if is_dark %}ly-arrow-white{% else %}ly-arrow-black{% endif %} {% if arrow_filled %}caret{% else %}stroke{% endif %}" style="vertical-align: middle; width: {{ realsize }}px; height: {{ realsize }}px;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{ realsize }} {{ realsize }}" height="{{ realsize }}px" width="{{ realsize }}px" style="position: absolute;">
            <path d="M{{ arrow_width | plus: 0 }} {{ arrow_width | plus: quarter }} L{{ realsize | divided_by: 2 }} {{ realsize | divided_by: 2 | plus: quarter }} L{{ realsize | minus: arrow_width }} {{ arrow_width | plus: quarter }}" fill="{% if arrow_filled %}{{ text_color }}{% else %}transparent{% endif -%}" stroke="{% if arrow_filled %}transparent{% else %}{{ text_color }}{% endif -%}" stroke-width="{% if arrow_filled %}0{% else %}{{ arrow_width }}px{% endif -%}"/>
          </svg>
        </div>
      {%- endif -%}
    {% endcapture %}

    {%- capture border_style -%}{% if border_width %} border-style: solid; border-width: {{ border_width }}px; border-radius: {{ border_radius }}px; border-color: {{ border_color }};{% endif %}{%- endcapture -%}
    {%- capture spacing_style -%}{% if v_space or h_space %} margin: {{ v_space }}px {{ h_space }}px;{% endif %}{%- endcapture -%}
    {%- capture item_spacing_style -%}{% if v_item_space or h_item_space %} margin: {{ v_item_space }}px {{ h_item_space }}px;{% endif %}{%- endcapture -%}
    {%- capture item_padding_style -%}{% if v_item_padding or h_item_padding %} padding: {{ v_item_padding }}px {{ h_item_padding }}px;{% endif %}{%- endcapture -%}

    <div data-breakpoint="{{ breakpoint.key }}" class="ly-switcher-wrapper ly-breakpoint-{{ forloop.index }} {{ position }} {% if position != 'custom' %}{{ corner }}{% else %}ly-custom{% endif %}{% if is_transparent %} ly-is-transparent{% endif %}" style="font-size: {{ fontsize }}px; {% if position != 'custom' %}margin: {{ v_space }}px {{ h_space }}px; {% endif %}">
      {% assign type = cs_type %}
      {%- case type -%}
      {%- when 'custom' -%}
        <div data-dropup="{% if is_dropup %}true{% else %}false{% endif %}" onclick="langify.switcher.toggleSwitcherOpen(this)" class="ly-languages-switcher ly-custom-dropdown-switcher{% unless is_dark %} ly-bright-theme{% endunless %}{% if is_transparent %} ly-is-transparent{% endif %}{% if is_dropup %} ly-is-dropup{% endif %}" style="{{ item_spacing_style }}">
          <span class="ly-custom-dropdown-current" style="{% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }}; {{ border_style }} {{ item_padding_style }}">
            {%- if rectangle_icons or square_icons or round_icons -%}
              {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
              {%- else -%}
                {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
              {%- endif -%}
              <i class="ly-icon ly-flag-icon ly-flag-icon-{% if request.host == 'relevantcos.com' %}en-eu{% elsif request.host == 'relevantcos.us' %}en-us{% else %}{{ used_request_locale_iso_code }}{% endif %}{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>
            {%- endif -%}
            {%- if show_name or show_custom_name or show_iso_code -%}
              <span class="ly-custom-dropdown-current-inner ly-custom-dropdown-current-inner-text">
                 {% if request.host == 'relevantcos.co.uk' %}English (£){% elsif request.host == 'relevantcos.us' %}English ($){% else %}
                {%- if show_name %}{{ request.locale.name }}{% endif -%}
                {%- if show_custom_name -%}
                  {%- for language in languages -%}
                    {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                      {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
                    {%- else -%}
                      {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
                    {%- endif -%}
                    {%- if language.iso_code == used_request_locale_iso_code and language.published == true -%}
                      {%- assign matchingItem = false -%}
                      {%- assign same_iso_codes = languages | where: "iso_code", used_request_locale_iso_code | size -%}
                      {%- if same_iso_codes == 1 -%}
                        {%- assign matchingItem = true -%}
                      {%- endif -%}
                      {%- if same_iso_codes > 1 and language.domain contains request.host -%}
                        {%- assign matchingItem = true -%}
                      {%- endif -%}
                      {%- if matchingItem -%}
                        {%- if language.custom_name and language.custom_name != '' %}{{ language.custom_name }}{% else %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endif %}
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
                {%- if show_iso_code %}{{ request.locale.iso_code | upcase }}{% endif -%}
                {%- if breakpoints == 'default' %}{{ request.locale.name }}{% endif -%}
                {% endif -%}
              </span>
            {%- endif -%}

            {{ arrow }}
          </span>
          <ul class="ly-custom-dropdown-list ly-is-open {% unless is_dark %}ly-bright-theme{% endunless %}" style="display: none; {% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }}; {{ border_style }}">
            {%- for language in languages -%}
              {%- assign isValid = false -%}
              {%- for locale in shop.published_locales -%}
                {%- if isValid == false -%}
                  {%- if supported_4_letter_codes contains locale.iso_code -%}
                    {%- assign used_locale_iso_code = locale.iso_code -%}
                  {%- else -%}
                    {%- assign used_locale_iso_code = locale.iso_code | slice: 0, 2 -%}
                  {%- endif -%}

                  {%- if language.iso_code == used_locale_iso_code -%}
                    {%- assign isValid = true -%}
                    {%- assign url = locale.root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}

              {%- if isValid == false -%}
                {%- if shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code] -%}
                  {%- assign isValid = true -%}
                  {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                  {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].host | append: url -%}
                {%- endif -%}
              {%- endif -%}

              {%- if breakpoints == 'default' or language.published == true and isValid == true -%}
                {%- assign matchingItem = true -%}
                {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                  {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
                {%- else -%}
                  {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
                {%- endif -%}
                {%- assign same_iso_codes = languages | where: "iso_code", used_request_locale_iso_code | size -%}
                {%- if same_iso_codes > 1 and language.domain contains request.host -%}
                  {%- assign matchingItem = false -%}
                {%- else -%}
                {%- if language.iso_code == used_request_locale_iso_code -%}
                    {%- assign matchingItem = false -%}
                {%- endif -%}
              {%- endif -%}

                <li key="{{language.iso_code}}" {% unless matchingItem %}class="current"{% endunless %} style="color: {{ text_color }}; {{ item_spacing_style }}{{ item_padding_style }}">
                  <a class="ly-custom-dropdown-list-element ly-languages-switcher-link{% unless is_dark %} ly-bright-theme{% endunless %}{% if request.locale.iso_code == language.iso_code %} current_lang{% endif %}" href="{% if request.locale.iso_code == language.iso_code %}#{% else %}{{url}}{% endif %}" data-ly-code="{{language.iso_code}}" data-ly-locked="true">
                    {%- if rectangle_icons or square_icons or round_icons -%}
                      <i class="ly-icon ly-flag-icon ly-flag-icon-{{ language.iso_code }}{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>
                    {%- endif -%}
                    {%- if show_name or show_custom_name or show_iso_code -%}
                      <span class="ly-custom-dropdown-list-element-right">
                        {%- if show_name %}{{language.name}}{% endif -%}
                        {%- if show_custom_name -%}
                          {%- comment %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endcomment -%}
                          {%- if language.custom_name and language.custom_name != '' %}{{ language.custom_name }}{% else %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endif -%}
                        {%- endif -%}
                        {%- if show_iso_code %}{{ language.iso_code | upcase }}{%- endif -%}
                      </span>
                    {%- endif -%}
                  </a>
                </li>

              {%- endif -%}
            {%- endfor -%}
            
            <li key="en">
                <a class="ly-custom-dropdown-list-element ly-languages-switcher-link{% unless is_dark %} ly-bright-theme{% endunless %}{% if request.locale.iso_code == language.iso_code %} current_lang{% endif %}" href="{% if request.host == 'relevantcos.com' %}#{% else %}https://relevantcos.com{{unlocalized_path}}{% endif %}" data-ly-code="en" data-ly-locked="true">
                  {%- if rectangle_icons or square_icons or round_icons -%}
                  <i class="ly-icon ly-flag-icon ly-flag-icon-en-eu{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>
                  {% endif %}
                  {% if show_name or show_custom_name or show_iso_code %}
                  <span class="ly-custom-dropdown-list-element-right">
                    English (€)
                  </span>
                  {% endif %}
                </a>
              </li>
              
              <li key="en">
                <a class="ly-custom-dropdown-list-element ly-languages-switcher-link{% unless is_dark %} ly-bright-theme{% endunless %}{% if request.locale.iso_code == language.iso_code %} current_lang{% endif %}" href="{% if request.host == 'relevantcos.co.uk' %}#{% else %}https://relevantcos.co.uk{{unlocalized_path}}{% endif %}" data-ly-code="en" data-ly-locked="true">
                  {%- if rectangle_icons or square_icons or round_icons -%}
                  <i class="ly-icon ly-flag-icon ly-flag-icon-en{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>
                  {% endif %}
                  {% if show_name or show_custom_name or show_iso_code %}
                  <span class="ly-custom-dropdown-list-element-right">
                    English (£)
                  </span>
                  {% endif %}
                </a>
              </li>
              
              <li key="en">
                <a class="ly-custom-dropdown-list-element ly-languages-switcher-link{% unless is_dark %} ly-bright-theme{% endunless %}{% if request.locale.iso_code == language.iso_code %} current_lang{% endif %}" href="{% if request.host == 'relevantcos.us' %}#{% else %}https://relevantcos.us{{unlocalized_path}}{% endif %}" data-ly-code="en" data-ly-locked="true">
                  {%- if rectangle_icons or square_icons or round_icons -%}
                  <i class="ly-icon ly-flag-icon ly-flag-icon-en-us{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>
                  {% endif %}
                  {% if show_name or show_custom_name or show_iso_code %}
                  <span class="ly-custom-dropdown-list-element-right">
                    English ($)
                  </span>
                  {% endif %}
                </a>
              </li>
            
          </ul>
        </div>
      {%- when 'native_select' -%}
        <select data-breakpoint="{{ breakpoint.key }}" class="ly-languages-switcher ly-native-select {% unless is_dark %} ly-bright-theme{% endunless %}{% if is_transparent %} ly-is-transparent{% endif %}" style="{% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }}; {{ item_spacing_style }} {{ item_padding_style }} {{ border_style }}">
          {%- for language in languages -%}
            {%- assign isValid = false -%}
            {%- for locale in shop.published_locales -%}
              {%- if isValid == false -%}
                {%- if supported_4_letter_codes contains locale.iso_code -%}
                  {%- assign used_locale_iso_code = locale.iso_code -%}
                {%- else -%}
                  {%- assign used_locale_iso_code = locale.iso_code | slice: 0, 2 -%}
                {%- endif -%}
                {%- if language.iso_code == used_locale_iso_code -%}
                  {%- assign isValid = true -%}
                  {%- assign url = locale.root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if isValid == false -%}
              {%- if shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code] -%}
                {%- assign isValid = true -%}
                {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].host | append: url -%}
              {%- endif -%}
            {%- endif -%}

            {%- if language.published == true and isValid == true -%}
              <option key="{{language.iso_code}}" {% if request.locale.iso_code == language.iso_code %}selected="selected"{% endif %} class="{% if request.locale.iso_code == language.iso_code %}current_lang{% endif %}" value="{{language.iso_code}}" data-url="{{url}}" style="{{ item_padding_style }}">
                {%- if show_name %}{{ language.name }}{% endif -%}
                {%- if show_custom_name -%}
                  {%- comment %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endcomment -%}
                  {%- if language.custom_name and language.custom_name != '' %}{{ language.custom_name }}{% else %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endif -%}
                {%- endif -%}
                {%- if show_iso_code %}{{ language.iso_code | upcase }}{% endif -%}
              </option>
            {%- endif -%}
          {%- endfor -%}
        </select>
      {%- when 'popup' -%}
        <div data-breakpoint="{{ breakpoint.key }}" class="ly-languages-switcher ly-popup-switcher{% unless is_dark %} ly-bright-theme{% endunless %}{% if is_transparent %} ly-is-transparent{% endif %}" style="font-size: {{ fontsize }}px; color: {{ text_color }};">
          <div class="ly-popup-current" onclick="langify.switcher.togglePopupOpen(this)" style="{% unless is_transparent %}background: {{ bg_color }}; {% endunless %} {{ item_padding_style }}{{ border_style }}">
            {%- if rectangle_icons or square_icons or round_icons -%}
              {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
              {%- else -%}
                {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
              {%- endif -%}
              <i class="ly-icon ly-flag-icon ly-flag-icon-{{ used_request_locale_iso_code }}{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>
            {%- endif -%}
            {%- if show_name or show_custom_name or show_iso_code -%}
              <span class="ly-custom-dropdown-current-inner ly-custom-dropdown-current-inner-text">
                {%- if show_name %}{{ request.locale.name }}{% endif -%}
                {%- if show_custom_name -%}
                  {%- for language in languages -%}
                    {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                      {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
                    {%- else -%}
                      {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
                    {%- endif -%}
                    {%- if language.iso_code == used_request_locale_iso_code and language.published == true -%}
                      {%- assign matchingItem = false -%}
                      {%- assign same_iso_codes = languages | where: "iso_code", used_request_locale_iso_code | size -%}
                      {%- if same_iso_codes == 1 -%}
                        {%- assign matchingItem = true -%}
                      {%- endif -%}
                      {%- if same_iso_codes > 1 and language.domain contains request.host -%}
                        {%- assign matchingItem = true -%}
                      {%- endif -%}
                      {%- if matchingItem -%}
                        {%- if language.custom_name and language.custom_name != '' %}{{ language.custom_name }}{% else %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endif -%}
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
                {%- if show_iso_code %}{{ request.locale.iso_code | upcase }}{% endif -%}
              </span>
            {%- endif -%}
          </div>
          <div class="ly-popup-modal">        
            <div class="ly-popup-modal-backdrop"></div>
            <div class="ly-popup-modal-content" style="{% unless is_transparent %}background: {{ bg_color }}; {% endunless %} {{ border_style }}">
              <h3>
                Select language 
              </h3>
              <a href="#" class="ly-close" onclick="langify.switcher.togglePopupOpen(this)"></a>
              <ul data-breakpoint="{{ breakpoint.key }}" style="font-size: {{ fontsize }}px;  {% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }};">
              {%- for language in languages -%}
                {%- assign isValid = false -%}
                {%- for locale in shop.published_locales -%}
                  {%- if isValid == false -%}
                    {%- if supported_4_letter_codes contains locale.iso_code -%}
                      {%- assign used_locale_iso_code = locale.iso_code -%}
                    {%- else -%}
                      {%- assign used_locale_iso_code = locale.iso_code | slice: 0, 2 -%}
                    {%- endif -%}
                    {%- if language.iso_code == used_locale_iso_code -%}
                      {%- assign isValid = true -%}
                      {%- assign url = locale.root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}

                {%- if isValid == false -%}
                  {%- if shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code] -%}
                    {%- assign isValid = true -%}
                    {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                    {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].host | append: url -%}
                  {%- endif -%}
                {%- endif -%}

                {%- if language.published == true and isValid == true -%}
                  <li key="{{language.iso_code}}" style="{{ item_spacing_style }} {{ item_padding_style }}">
                    {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                      {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
                    {%- else -%}
                      {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
                    {%- endif -%}
                    <a href="{% if used_request_locale_iso_code == language.iso_code %}#{% else %}{{url}}{% endif %}" data-ly-code="{{language.iso_code}}" data-ly-locked="true" class="ly-languages-switcher-link{% if used_request_locale_iso_code == language.iso_code %} current_lang{% endif %}" style=" {% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }};">
                      {%- if rectangle_icons or square_icons or round_icons -%}<i class="ly-icon ly-flag-icon ly-flag-icon-{{ language.iso_code }}{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>{% endif -%}
                      {%- if show_name %}{{ language.name }}{% endif -%}
                      {%- if show_custom_name -%}
                        {% comment %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endcomment %}
                        {%- if language.custom_name and language.custom_name != '' %}{{ language.custom_name }}{% else %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endif -%}
                      {%- endif -%}
                      {%- if show_iso_code %}{{ language.iso_code | upcase }}{% endif -%}
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
              </ul>
            </div>		  
          </div>
        </div>
      {%- when 'links_list' -%}
        <ul data-breakpoint="{{ breakpoint.key }}" class="ly-languages-switcher ly-list {% unless is_dark %} ly-bright-theme{% endunless %}{% if is_transparent %} ly-is-transparent{% endif %}" style="{% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }}; {{ border_style }}">
          {%- for language in languages -%}
            {%- assign isValid = false -%}
          {%- for locale in shop.published_locales -%}
              {%- if isValid == false -%}
                {%- if supported_4_letter_codes contains locale.iso_code -%}
                  {%- assign used_locale_iso_code = locale.iso_code -%}
                {%- else -%}
                  {%- assign used_locale_iso_code = locale.iso_code | slice: 0, 2 -%}
                {%- endif -%}
                {%- if language.iso_code == used_locale_iso_code -%}
                  {%- assign isValid = true -%}
                  {%- assign url = locale.root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if isValid == false -%}
              {%- if shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code] -%}
                {%- assign isValid = true -%}
                {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].host | append: url -%}
              {%- endif -%}
            {%- endif -%}

            {%- if language.published == true and isValid == true -%}
              <li key="{{language.iso_code}}" style="{{ item_spacing_style }} {{ item_padding_style }}">
                {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                  {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
                {%- else -%}
                  {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
                {%- endif -%}
                <a href="{% if used_request_locale_iso_code == language.iso_code %}#{% else %}{{url}}{% endif %}" data-ly-code="{{language.iso_code}}" data-ly-locked="true" class="ly-languages-switcher-link{% if used_request_locale_iso_code == language.iso_code %} current_lang{% endif %}" style=" {% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }};">
                  {%- if rectangle_icons or square_icons or round_icons -%}<i class="ly-icon ly-flag-icon ly-flag-icon-{{ language.iso_code }}{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>{%- endif -%}
                  {%- if show_name -%}<span class="ly-inner-text">{{ language.name }}</span>{%- endif -%}
                  {%- if show_custom_name -%}
                    {%- comment %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endcomment -%}
                    <span class="ly-inner-text">{%- if language.custom_name and language.custom_name != '' %}{{ language.custom_name }}{% else %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{%- endif -%}</span>
                  {%- endif -%}
                  {%- if show_iso_code -%}<span class="ly-inner-text">{{ language.iso_code | upcase }}</span>{%- endif -%}
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- when 'links' -%}
        <div data-breakpoint="{{ breakpoint.key }}" class="ly-languages-switcher ly-links {% unless is_dark %} ly-bright-theme{% endunless %}" style="color: {{ text_color }};">
          {%- for language in languages -%}
            {%- assign isValid = false -%}
            {%- for locale in shop.published_locales -%}
              {%- if isValid == false -%}
              {%- if supported_4_letter_codes contains locale.iso_code -%}
                {%- assign used_locale_iso_code = locale.iso_code -%}
              {%- else -%}
                {%- assign used_locale_iso_code = locale.iso_code | slice: 0, 2 -%}
              {%- endif -%}
              {%- if language.iso_code == used_locale_iso_code -%}
                {%- assign isValid = true -%}
                {%- assign url = locale.root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
              {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
            {%- if isValid == false -%}
              {%- if shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code] -%}
                {%- assign isValid = true -%}
                {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].root_url | downcase | append: unlocalized_path | replace: '//', '/' | replace: '///', '/' -%}
                {%- assign url = shop.metafields.langify_v2.cross_domain_links[request.host][language.iso_code].host | append: url -%}
              {%- endif -%}
            {%- endif -%}
            {%- if language.published == true and isValid == true -%}
              {%- if supported_4_letter_codes contains request.locale.iso_code -%}
                {%- assign used_request_locale_iso_code = request.locale.iso_code -%}
              {%- else -%}
                {%- assign used_request_locale_iso_code = request.locale.iso_code | slice: 0, 2 -%}
              {%- endif -%}
              <a href="{% if used_request_locale_iso_code == language.iso_code %}#{% else %}{{url}}{% endif %}" data-ly-code="{{language.iso_code}}"  data-ly-locked="true" class="ly-languages-switcher-link{% if used_request_locale_iso_code == language.iso_code %} current_lang{% endif %}" style=" {% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }}; {{ item_spacing_style }} {{ item_padding_style }} {{ border_style }}">
                {%- if rectangle_icons or square_icons or round_icons -%}<i class="ly-icon ly-flag-icon ly-flag-icon-{{ language.iso_code }}{% if square_icons %} ly-flag-squared{% endif %}{% if round_icons %} ly-flag-rounded{% endif %}"></i>{%- endif -%}
                {%- if show_name -%}<span class="ly-inner-text">{{ language.name }}</span>{%- endif -%}
                {%- if show_custom_name -%}
                  {%- comment %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endcomment -%}
                  <span class="ly-inner-text">{%- if language.custom_name and language.custom_name != '' %}{{ language.custom_name }}{% else %}{% assign lang_key = 'ly-' | append: language.iso_code %}{{ shop.metafields.v2_lang_name_map[lang_key] }}{% endif -%}</span>
                {%- endif -%}
                {%- if show_iso_code -%}<span class="ly-inner-text">{{ language.iso_code | upcase }}</span>{%- endif -%}
              </a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- else -%}
      {%- endcase -%}

      {%- if currency_switcher_enabled -%}
        {%- if type == 'native_select' -%}
          <select name="currency" class="ly-currency-switcher" style="{{ item_spacing_style }} {{ item_padding_style }} {{ border_style }}">
            {% for currency in shop.enabled_currencies %}
              {% if currency == cart.currency %}
                <option selected="true" data-currency="{{currency.iso_code}}" style="{{ item_padding_style }}">{{currency.iso_code}} {{currency.symbol}}</option>
                {% else %}
                <option data-currency="{{currency.iso_code}}" style="{{ item_padding_style }}">{{currency.iso_code}} {{currency.symbol}}</option>
              {% endif %}
            {% endfor %}
          </select>
        {%- else -%}
          <div data-dropup="{% if is_dropup %}true{% else %}false{% endif %}" onclick="langify.switcher.toggleSwitcherOpen(this)" class="ly-currency-switcher ly-custom-dropdown-switcher{% unless is_dark %} ly-bright-theme{% endunless %}{% if is_transparent %} ly-is-transparent{% endif %}{% if is_dropup %} ly-is-dropup{% endif %}" style="{{ item_spacing_style }}">
            <span class="ly-custom-dropdown-current" style="{% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }}; {{ item_padding_style }} {{ border_style }}">
              <span class="ly-custom-dropdown-current-inner ly-custom-dropdown-current-inner-text">{{cart.currency.iso_code}} {{cart.currency.symbol}}</span>
              {{ arrow }}
            </span>
            <ul class="ly-custom-dropdown-list ly-is-open {% unless is_dark %}ly-bright-theme{% endunless %}" style="{% unless is_transparent %}background: {{ bg_color }}; {% endunless %}color: {{ text_color }}; {{ border_style }}">
              {% for currency in shop.enabled_currencies %}
                <li style="{{ item_padding_style }}">
                  {% if currency != cart.currency %}
                    <a class="ly-custom-dropdown-list-element" href="#" data-currency="{{currency.iso_code}}"><span class="ly-inner-text">{{currency.iso_code}} {{currency.symbol}}</span></a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {%- endif -%}
      {%- endif -%}

    </div>
  {%- endcapture -%}

  <form method="post" action="/cart/update" id="currency_switcher_form" accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="form_type" value="currency">
    <input type="hidden" name="utf8" value="✓">
    <input type="hidden" name="return_to" value="{{shop.url}}">
    <input type="hidden" name="currency" value="{{cart.currency.iso_code}}">
  </form>

  {{ switcher }}
  {%- endif -%}

  {%- if recommendation_enabled and breakpoint.key == recommendation_switcher_key or recommendation_switcher == nil and recommendation_switcher_key == -1 -%}
    {%- capture recommendation_switcher -%}
      <form class="ly-recommendation-form" action="" method="GET" data-ly-locked="true">
        <span {% if recommendation_switcher_key == -1 %}style="display: none;"{% endif %}>{{- switcher -}}</span>
        <button type="submit" style="font-size: {{ recommendation.recommendation_fontsize }}px; background-color: {{ recommendation.recommendation_button_bg_color }}; color: {{ recommendation.recommendation_button_text_color }}; border: none; padding: 0.2em 0.5em;">
          [[button]]
        </button>
      </form>
    {%- endcapture -%}
  {%- endif -%}
{%- endfor -%}


{%- assign recommendation_orientation = recommendation.recommendation_orientation -%}
{%- assign recommendation_backdrop_show = recommendation.recommendation_backdrop_show -%}
{%- assign recommendation_corner = recommendation.recommendation_corner -%}
{%- assign recommendation_banner_corner = recommendation.recommendation_banner_corner -%}
{%- assign recommendation_fontsize = recommendation.recommendation_fontsize -%}
{%- assign recommendation_border_width = recommendation.recommendation_border_width -%}
{%- assign recommendation_border_radius = recommendation.recommendation_border_radius -%}
{%- assign recommendation_text_color = recommendation.recommendation_text_color -%}
{%- assign recommendation_link_color = recommendation.recommendation_link_color -%}
{%- assign recommendation_button_bg_color = recommendation.recommendation_button_bg_color -%}
{%- assign recommendation_button_text_color = recommendation.recommendation_button_text_color -%}
{%- assign recommendation_bg_color = recommendation.recommendation_bg_color -%}
{%- assign recommendation_border_color = recommendation.recommendation_border_color -%}
{%- if recommendation_enabled -%}  
  <div class="ly-recommendation">        
    {%- if recommendation_type == 'popup' -%}
      {%- if recommendation_backdrop_show -%}<div class="ly-popup-modal-backdrop" onclick="langify.recommendation.toggleOpen(this)"></div>{%- endif -%}
      <div class="ly-popup-modal ly-is-open {{ recommendation_corner }}">        
        <div class="ly-popup-modal-content" style="background: {{ recommendation_bg_color }}; border-radius: {{ recommendation_border_radius }}px; border-width: {{ recommendation_border_width }}px; border-color: {{ recommendation_border_color }}; border-style: solid; font-size: {{ recommendation_fontsize }}px;">
          <h3>
            [[recommendation]]
          </h3>
          <a href="#" class="ly-close" onclick="langify.recommendation.toggleOpen(this)"></a>
          {{ recommendation_switcher }}
        </div>		  
      </div>    
    {%- endif -%}
    {%- if recommendation_type == 'banner' -%}
      <div class="ly-banner {{ recommendation_banner_corner }}">        
        <div class="ly-banner-content" style="background: {{ recommendation_bg_color }}; border-radius: {{ recommendation_border_radius }}px; border-width: {{ recommendation_border_width }}px; border-color: {{ recommendation_border_color }}; border-style: solid; font-size: {{ recommendation_fontsize }}px;">
          [[recommendation]] {{ recommendation_switcher }}
          <a href="#" class="ly-close" onclick="langify.recommendation.toggleOpen(this)"></a>
        </div>		  
      </div>    
    {%- endif -%} 
  </div>    
{%- endif -%}

