{% comment %}
  - Top Bar Menu is the fallback if Main Menu is empty
  - Otherwise show Main and Top Bar menu if they exist
{% endcomment %}
{% if section.settings.main_linklist == blank and section.settings.top_bar_linklist != blank %}
  {% comment %} {% assign navMobile = linklists[section.settings.top_bar_linklist] %} {% endcomment %}
  {% assign navMobile = linklists.mobile-slide-menu %}
{% else %}
   {% comment %} {% assign navMobile = linklists[section.settings.main_linklist] %} {% endcomment %}
   {% assign navMobile = linklists.mobile-slide-menu %} 
  {% assign navMobileTopbar = linklists[section.settings.top_bar_linklist] %}
{% endif %}

<script type="application/json" id="mobile-menu-data">
{
    {% for link in navMobile.links %}
        {% assign forloop_1 = forloop %}
        {% unless forloop.first %},{% endunless %}
        "{{ forloop_1.index0 }}": {
            "level": 0,
            "url": "{{ link.url }}",
            "title": {{ link.title | json }},
            "links": [
                {% for sublink in link.links %}
                    "{{ forloop_1.index0 }}--{{ forloop.index0 }}"{% unless forloop.last %},{% endunless %}
                {% endfor %}
            ]
        }
        {% for sublink in link.links %}
          {% assign forloop_2 = forloop %}
            , "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}": {
            "level": 1,
            "url": "{{ sublink.url }}",
            "title": {{ sublink.title | json }},
            "links": [
                {% for subsublink in sublink.links %}
                    "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}--{{ forloop.index0 }}"{% unless forloop.last %},{% endunless %}
                {% endfor %}
            ]
        }
        {% for subsublink in sublink.links %}
        {% assign forloop_3 = forloop %}
        , "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}--{{ forloop_3.index0 }}": {
            "level": 2,
            "url": "{{ subsublink.url }}",
            "title": {{ subsublink.title | json }},
            "links": []
        }
        {% endfor %}
        {% endfor %}
    {% endfor %}
}
</script>

<ul class="mobile-menu mobile-menu-main{% if section.settings.search-enable %} search-enabled{% else %} search-disabled{% endif %}" id="mobile-menu--{{ navMobile.handle }}">
  <a href="#" class="slide-menu menu-close-icon mobile-menu-close"><i data-feather="x" aria-hidden="true"></i></a>

  {% if section.settings.search-enable %}
    <li class="mobile-search">
      <form id="search" action="{{ routes.search_url }}">
      <div id="search-wrapper">
        <input id="search_text" name="q" type="text" size="20" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" value="{{ 'layout.header.search' | t }}"/>
      </div>
      </form>
    </li>
  {% endif %}
  
  <div class="mobile-nav__collections">
    <a class="mobile-nav__collection" href="/collections/all-products">
      <img src="https://cdn.shopify.com/s/files/1/0483/8712/9507/files/all_products_1536x1024_deb79e7a-317b-4721-acbd-15af30dd7f26.jpg?v=1634107678" alt>
      <span>Shop All</span>
    </a>
    
    <a class="mobile-nav__collection" href="/collections/all-kits">
      <img src="https://cdn.shopify.com/s/files/1/0483/8712/9507/files/kits_1536x1024_0df82495-f50a-4923-931b-bad1a8427b2e.jpg?v=1634107678" alt>
      <span>All Kits</span>
    </a>
    
    <a class="mobile-nav__collection" href="/products/essential-body-kit">
      <img src="https://cdn.shopify.com/s/files/1/0483/8712/9507/files/essential_kit_n_1536x1024_180e47ee-5c8a-4e24-9835-918c2b8b6dd3.jpg?v=1634107678" alt>
      <span>Essential Kit</span>
    </a>
    
    <a class="mobile-nav__collection" href="/products/ocean-plastic-deodorant">
      <img src="https://cdn.shopify.com/s/files/1/0483/8712/9507/files/deo_sandal_1536x1024_22648e63-7fa9-44db-9c36-f429af233b63.jpg?v=1634107678" alt>
      <span>Deodorant</span>
    </a>
  </div>
  
  

  {% for link in navMobile.links %}
    <li>
      <a class="mobile-menu-link mobile-menu-link__text{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}" href="{{ link.url }}">{{ link.title | escape }}</a>
      {% if link.links != blank %}
        <a href="#" class="mobile-menu-sub mobile-menu-right mobile-menu-link" data-link="{{ forloop.index0 }}">
          <i data-feather="chevron-right"></i>
        </a>
      {% endif %}
    </li>
  {% endfor %}

  {% for link in navMobileTopbar.links %}
    <li>
      <a class="mobile-menu-link mobile-menu-link__text{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}" href="{{ link.url }}">{{ link.title | escape }}</a>
      {% if link.links != blank %}
        <a href="#" class="mobile-menu-sub mobile-menu-right mobile-menu-link" data-link="{{ forloop.index0 }}">
          <i data-feather="chevron-right"></i>
        </a>
      {% endif %}
    </li>
  {% endfor %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="mobile-menu-link mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"><a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a></li>
      <li class="mobile-menu-link mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
    {% else %}
      <li class="mobile-menu-link mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}">{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
      {% if shop.customer_accounts_optional %}
        <li class="mobile-menu-link mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}">{{ 'customer.register.title' | t | customer_register_link }}</li>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if section.settings.show_locale_selector %}
    <li>
      <a href="#" class="mobile-menu-link mobile-menu-sub mobile-menu-link-locale" data-link="mobile-menu-locale">{{ 'general.language.dropdown_label' | t }}</a>
      <a href="#" class="mobile-menu-sub mobile-menu-right mobile-menu-link" data-link="mobile-menu-locale">
        <i data-feather="chevron-right"></i>
      </a>
    </li>
  {% endif %}

  {% if section.settings.show_currency_selector %}
    <li>
      <a href="#" class="mobile-menu-link mobile-menu-sub mobile-menu-link-currency" data-link="mobile-menu-currency">{{ 'general.currency.dropdown_label' | t }}</a>
      <a href="#" class="mobile-menu-sub mobile-menu-right mobile-menu-link" data-link="mobile-menu-currency">
        <i data-feather="chevron-right"></i>
      </a>
    </li>
  {% endif %}
  
  {% render 'social-links' %}
  
  {% comment %}
  <div class="mobile-menu-reviews-wrapper">
    <img class="reviews-logo" src="{{ 'star_reviews.png' | asset_img_url: '350x'}}">
    <span>+15,000 happy customers</span>
  </div>
  {% endcomment %}
  
</ul>

{%- form 'localization', class: 'localization-selector-form' -%}
  {% if section.settings.show_locale_selector %}
    <ul class="mobile-menu mobile-menu-child mobile-menu-hidden{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}" id="mobile-menu-locale">
      <a href="#" class="slide-menu menu-close-icon mobile-menu-close"><i data-feather="x" aria-hidden="true"></i></i></a>
      <li>
        <a href="#" class="mobile-menu-link mobile-menu-back mobile-menu-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}" data-link="mobile-menu--{{ root_list.handle }}">
          <i data-feather="chevron-left" aria-hidden="true"></i>
          <div class="mobile-menu-title">{{ 'general.language.dropdown_label' | t }}</div>
        </a>
      </li>
      {% for locale in form.available_locales %}
        <li>
          <button type="submit" name="locale_code" class="mobile-menu-link mobile-menu-locale-link{% if locale.iso_code == form.current_locale.iso_code %} mobile-menu-locale-selected{% endif %}" value="{{ locale.iso_code }}">
            {{ locale.endonym_name }}
            {%- if locale.iso_code == form.current_locale.iso_code -%}
              <i data-feather="check" aria-hidden="true"></i>
            {%- endif -%}
          </button>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if section.settings.show_currency_selector %}
    <ul class="mobile-menu mobile-menu-child mobile-menu-hidden{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}" id="mobile-menu-currency">
      <a href="#" class="slide-menu menu-close-icon mobile-menu-close"><i data-feather="x" aria-hidden="true"></i></i></a>
      <li>
        <a href="#" class="mobile-menu-back mobile-menu-link" data-link="mobile-menu--{{ root_list.handle }}">
          <i data-feather="chevron-left" aria-hidden="true"></i>
          <div class="mobile-menu-title">{{ 'general.currency.dropdown_label' | t }}</div>
        </a>
      </li>
      {% for currency in form.available_currencies %}
        <li>
          <button type="submit" name="currency_code" class="mobile-menu-link mobile-menu-currency-link {% if currency.iso_code == form.current_currency.iso_code %}mobile-menu-currency-selected{% endif %}" value="{{ currency.iso_code }}">
            {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
            {%- if currency.iso_code == form.current_currency.iso_code -%}
              <i data-feather="check" aria-hidden="true"></i>
            {%- endif -%}
          </button>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{%- endform -%}

<ul class="mobile-menu mobile-menu-child mobile-menu-hidden" id="mobile-menu">
    <a href="#" class="slide-menu menu-close-icon mobile-menu-close"><i data-feather="x" aria-hidden="true"></i></a>
    <li aria-haspopup="true">
        <a href="#" class="mobile-menu-back mobile-menu-link">
            <i data-feather="chevron-left" aria-hidden="true"></i>
            <div class="mobile-menu-title{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"></div>
        </a>
    </li>
</ul>

<ul class="mobile-menu mobile-menu-grandchild mobile-menu-hidden" id="mobile-submenu">
    <a href="#" class="slide-menu menu-close-icon mobile-menu-close"><i data-feather="x" aria-hidden="true"></i></a>
    <li aria-haspopup="true">
        <a href="#" class="mobile-menu-back mobile-menu-link">
            <i data-feather="chevron-left" aria-hidden="true"></i>
            <div class="mobile-menu-title{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"></div>
        </a>
    </li>
</ul>
