{% comment %}
Render all media of a product

Parameters:
* product: Shopify Product
* section_id: id of a section
* featured_media_id: id of a featured media
* enable_image_zoom: if zoom should be enabled on images
* enable_video_loop: if loop should be on for videos
{% endcomment %}

{% assign load_models = true %}
{% assign models = product.media | where: "media_type", "model" %}

{% for media in product.media %}

    {% capture view_in_space_button %}
        {% if models.size > 0 %}
            <div class="button-wrap">
                <button
                    aria-label="{{ 'products.product.view_in_space_label' | t }}"
                    class="btn product-single__view-in-space"
                    data-shopify-xr
                    data-shopify-model3d-id="{% if media.media_type == 'model' %}{{ media.id }}{% else %}{{ models[0].id }}{% endif %}"
                    data-shopify-title="{{ product.title | escape }}"
                    data-shopify-xr-hidden
                >
                    <svg viewBox="0 0 26 26" width="26" height="26">
                        <path d="M19.13,8.28,14,5.32a2,2,0,0,0-2,0l-5.12,3a2,2,0,0,0-1,1.76V16a2,2,0,0,0,1,1.76l5.12,3a2,2,0,0,0,2,0l5.12-3a2,2,0,0,0,1-1.76V10A2,2,0,0,0,19.13,8.28Zm-6.4,11.1-5.12-3A.53.53,0,0,1,7.35,16V10a.53.53,0,0,1,.27-.46l5.12-3a.53.53,0,0,1,.53,0l5.12,3-4.72,2.68a1.33,1.33,0,0,0-.67,1.2v6a.53.53,0,0,1-.26,0Z" fill="currentColor" opacity="0.6" style="isolation:isolate"/>
                    </svg>
                    {{ 'products.product.view_in_space' | t }}
                </button>
            </div>
        {% endif %}
    {% endcapture %}

    {% assign media_icon = null %}
    {% assign media_emblem = null %}
    {% if media.media_type == 'model' %}
        {% capture media_icon %}
            <svg viewBox="0 0 61 61">
                <rect x="0.5" y="0.5" width="60" height="60" fill="none" stroke="currentColor" stroke-opacity="0.05" stroke-miterlimit="10"/>
                <path d="M40.9,23.07l-8.8-5.14a3.19,3.19,0,0,0-3.21,0l-8.8,5.14a3.24,3.24,0,0,0-1.59,2.79V36.14a3.23,3.23,0,0,0,1.6,2.79l8.8,5.14a3.2,3.2,0,0,0,3.21,0l8.8-5.14a3.23,3.23,0,0,0,1.59-2.79V25.86A3.24,3.24,0,0,0,40.9,23.07ZM21.1,37.2a1.23,1.23,0,0,1-.6-1.06V25.86a1.23,1.23,0,0,1,.6-1.06l8.8-5.14a1.19,1.19,0,0,1,1.19,0l8.8,5.14a1.2,1.2,0,0,1,.36.34L30.74,30a2.23,2.23,0,0,0-1.25,2V42.1Z" fill="currentColor"/>
            </svg>
        {% endcapture %}
        {% capture media_emblem %}
            <svg viewBox="0 0 26 26">
                <path d="M.5,25v.5h25V.5H.5Z" fill="none" stroke="currentColor" stroke-opacity="0.05"/>
                <path d="M19.13,8.28,14,5.32a2,2,0,0,0-2,0l-5.12,3a2,2,0,0,0-1,1.76V16a2,2,0,0,0,1,1.76l5.12,3a2,2,0,0,0,2,0l5.12-3a2,2,0,0,0,1-1.76V10A2,2,0,0,0,19.13,8.28Zm-6.4,11.1-5.12-3A.53.53,0,0,1,7.35,16V10a.53.53,0,0,1,.27-.46l5.12-3a.53.53,0,0,1,.53,0l5.12,3-4.72,2.68a1.33,1.33,0,0,0-.67,1.2v6a.53.53,0,0,1-.26,0Z" fill="currentColor" opacity="0.6" style="isolation:isolate"/>
            </svg>
        {% endcapture %}
    {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
        {% capture media_icon %}
            <svg viewBox="0 0 61 61">
                <rect x="0.5" y="0.5" width="60" height="60" fill="none" stroke="currentColor" stroke-opacity="0.05" stroke-miterlimit="10"/>
                <path d="M25,21.39a1,1,0,0,0-1.51.86V38.64a1,1,0,0,0,1.55.83l13.11-8.67a1,1,0,0,0,0-1.7Z" fill="currentColor"/>
            </svg>
        {% endcapture %}
        {% capture media_emblem %}
            <svg viewBox="0 0 26 26" fill="none">
                <path d="M0.5 25V25.5H1H25H25.5V25V1V0.5H25H1H0.5V1V25Z" stroke="currentColor" stroke-opacity="0.05"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.71814 6.71984C9.0517 6.31605 8.19995 6.79588 8.19995 7.5751V18.311C8.19995 19.1138 9.09826 19.5893 9.76217 19.1379L18.1123 13.4612C18.7146 13.0518 18.6912 12.1564 18.0682 11.779L9.71814 6.71984Z" fill="currentColor" fill-opacity="0.6"/>
            </svg>
        {% endcapture %}
    {% endif %}

    {% if media.aspect_ratio %}
        {% capture padding_style %}style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%"{% endcapture %}
    {% else %}
        {% capture padding_style %}style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100}}%"{% endcapture %}
    {% endif %}


    {% assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <div
        class="swiper-slide"
        data-media-id="media-template-{{ section_id }}-{{ media.id }}"
        data-media-type="{{ media.media_type }}"
    >
        <a
            tabindex="0"
            role="button"
            class="product-single__thumbnail{% if media.id == featured_media_id %} product-single__thumbnail--selected product-single__thumbnail--first{% endif %}"
            data-media-id="media-template-{{ section_id }}-{{ media.id }}"
            data-media-type="{{ media.media_type }}"
            {% if media.aspect_ratio %}
                data-media-aspect="{{ media.aspect_ratio }}"
            {% else %}
                data-media-aspect="{{ media.preview_image.aspect_ratio }}"
            {% endif %}
            {% if media.media_type == 'image' %}
                data-image-zoom-enable="{% if enable_image_zoom %}true{% else %}false{% endif %}"
            {% endif %}

            {% for variant in product.variants %}
                {% if variant.featured_media.id == media.id %}
                    data-variant="{{ variant.id }}"
                {% endif %}
            {% endfor %}
        >
            <template id="media-template-{{ section_id }}-{{ media.id }}">
                <div
                    class="product-single__media"
                    data-media-type="{{ media.media_type }}"
                    data-media-id="media-template-{{ section_id }}-{{ media.id }}"
                    data-autoplay="{% if autoplay %}true{% else %}false{% endif %}"
                    {% if media.media_type == 'image' %}
                        data-image-zoom-enable="{% if enable_image_zoom %}true{% else %}false{% endif %}"
                    {% endif %}
                >
                    {% case media.media_type %}
                        {% when 'image' %}
                            <div class="product-single__media__image">
                                {% capture props %}
                                    style="max-width: {{ media.width }}px"
                                    id="ProductPhotoImg"
                                    data-image-id="{{ media.id }}"
                                    data-zoom-img="{{ media | img_url: 'master' }}"
                                {% endcapture %}
                                {% render 'responsive-image' with media, class: 'product-single__photo', alt: media.alt, default_size: '300x', props: props, blur: false %}
                            </div>

                            <div class="hidden featured-image-loader">
                                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                <span class="sr-only"><ly-as-117443>Loading...</ly-as-117443></span>
                            </div>

                        {% when 'external_video' %}
                            <div {{ padding_style }} class="product-single__media__wrapper" data-video-loop="{% if enable_video_loop %}true{% else %}false{% endif %}">
                                {{ media | external_video_tag }}
                            </div>

                        {% when 'model' %}
                            <div {{ padding_style }} class="product-single__media__wrapper media-model-{{ section.id }}-{{ media.id }}">
                                {{ media | model_viewer_tag: reveal: 'interaction', toggleable: true, image_size: "1024x", data-model-id: media.id }}
                            </div>

                        {% when 'video' %}
                            <div {{ padding_style }} class="product-single__media__wrapper" data-video-loop="{% if enable_video_loop %}true{% else %}false{% endif %}">
                                {{ media | video_tag: controls: true }}
                            </div>

                        {% else %}
                            {{ media | media_tag }}

                    {% endcase %}
                    {{ view_in_space_button }}
                </div>
            </template>

            <div class="product-single__thumbnail__wrapper" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100}}%">
            {% capture props %}
                data-image-id="{{ media.id }}"
                style="max-width: {{ media.width }}px"
                data-max-width="{{ media.width }}"
            {% endcapture %}
            {% capture class %}product-single__type-{{ media.media_type }} product-single__thumbnail__image{% endcapture %}
            {% capture thumbalt %}
                {% if media.media_type == 'video' or media.media_type == 'external_video' %}
                    {{ 'products.product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                {% elsif media.media_type == 'model' %}
                    {{ 'products.product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                {% else %}
                    {{ 'products.product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                {% endif %}
            {% endcapture %}
            {% render 'responsive-image' with media, class: class, alt: thumbalt, default_size: '300x', props: props, blur: false %}

            {% if media_icon %}
                <button type="button" class="product-single__media__icon">
                    {{ media_icon }}
                </button>
            {% endif %}
            {% if media_emblem %}
                <div class="product-single__media__emblem">
                    {{ media_emblem }}
                </div>
            {% endif %}
            </div>

            {% if media.media_type == 'model' and load_models %}
                {% assign load_models = false %}
                <script>
                    window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
                    var models = {{ models | json }};
                    if (window.ShopifyXR.addModels) {
                        window.ShopifyXR.addModels(models);
                    } else {
                        window.ShopifyXR('addModels', models);
                    }
                </script>
            {% endif %}
        </a>

        {{ view_in_space_button }}
    </div>

{% endfor %}
