<div class="content clearfix activate-account">

<div class="title-bar custom-font">
	<h2>{{ 'customer.activate_account.title' | t }}</h2>
	<div class="clear"></div>
</div>

  <p class="note alert-success alert">{{ 'customer.activate_account.subtext' | t }}</p>

  <div class="row">

  <div class="col-md-6 offset-md-3">

  {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}

    <div id="password" class="clearfix form-row">
      <label class="large" for="password">{{ 'customer.activate_account.password' | t }}</label>
      <input type="password" class="form-control" name="customer[password]" id="customer_password" size="16" />
    </div>
    <div id="password_confirm" class="clearfix form-row">
      <label class="large" for="password_confirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
      <input type="password" class="form-control" name="customer[password_confirmation]" id="customer_password_confirmation" size="16" />
    </div>
    <div class="action_bottom">
      <input class="btn" type="submit" value="{{ 'customer.activate_account.submit' | t }}" />
      <span class="note"><ly-as-117850>or</ly-as-117850></span>
      <input type="submit" class="btn btn-danger" name="decline" id="customer_decline" value="{{ 'customer.activate_account.cancel' | t }}" />
    </div>
  {% endform %}

  </div>

</div>

</div>
