<!--Gem_Filter_Section-->{% capture content %}{% comment %}ly_liquid_scripts_begin{% endcomment %}{% capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}<!--End_Gem_Filter_Section-->
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie ie6" lang="en"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_he_fa_ur' contains language_code -%} dir="rtl" {%- endif -%}{% comment %}ly_dir_replace_end{% endcomment %}> <![endif]-->
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_he_fa_ur' contains language_code -%} dir="rtl" {%- endif -%}{% comment %}ly_dir_replace_end{% endcomment %}> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_he_fa_ur' contains language_code -%} dir="rtl" {%- endif -%}{% comment %}ly_dir_replace_end{% endcomment %}> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_he_fa_ur' contains language_code -%} dir="rtl" {%- endif -%}{% comment %}ly_dir_replace_end{% endcomment %}>
  <!--<![endif]-->
  <head>
{% render 'geolizr-init' %}
    <!--Gem_Filter_Section-->
        <!--End_Gem_Filter_Section-->
    <meta charset="utf-8">

    <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>


    <script type="text/javascript">
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% if template contains 'product' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endif %}

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous">
    
    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- CSS -->
    {{ 'theme.min.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}

    {% render 'font-links' %}

    {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

    <!-- starapps_scripts_start -->
    <!-- This code is automatically managed by StarApps Studio -->
    <!-- Please contact support@starapps.studio for any help -->
    <!-- starapps_scripts_end -->
    {{ content_for_header }}

    <script type="text/javascript">
      window.lazySizesConfig = window.lazySizesConfig || {};
      window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

      // configure available widths to replace with the {width} placeholder
      window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];

      window.wetheme = {
        name: 'Envy',
      };
    </script>

    {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js" | shopify_asset_url | script_tag }}
    {% endif %}

    <script type="module" src="{{ 'theme.min.v2.js' | asset_url }}"></script>
    <!-- <script type="module" src="{{ 'theme.min.js' | asset_url }}"></script> -->
    <!-- <script type="module" src="{{ 'theme.js' | asset_url }}"></script> -->
    <script nomodule src="{{ 'theme.legacy.min.js' | asset_url }}"></script>
    
    <!--Gem_Page_Header_Script-->
    {% capture gemHeaderScripts %}<link data-instant-track rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" class="gf-style" /><link data-instant-track rel="stylesheet" type="text/css" href="https://d1um8515vdn9kb.cloudfront.net/files/vendor.css?refresh=1" class="gf-style" />{% endcapture %}{% assign gemHandleCheck = 'product.gem-1600174492-template, index.gem-1600174521-template, collection.gem-1601547491-template' | split: ", " %}{% for h in gemHandleCheck %}{% if template == h %}{{ gemHeaderScripts }}{% endif %}{% endfor %}
    <!--End_Gem_Page_Header_Script-->    
    
    {% comment %}
    <!--Gem_Page_Header_Script-->
    {% include 'gem-app-header-scripts' %}
    <!--End_Gem_Page_Header_Script-->
    {% endcomment %}
    
    <!-- Google Ads Dynamic Remarketing -->
    {% include 'google-ads-dynamic-remarketing' %}
    
	{% if GEM_FOOTER_SCRIPT %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	{% else %}
    <!-- ABC Edits -->   
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous">
    </script>
    {% endif %}

   <!-- Footer mobile tab-->
    <script>

      jQuery(function($){
        $('#shopify-section-footer .links-footer ul').hide();

        $('#shopify-section-footer .links-footer .type-subheading').on('click', function(){
          var $this = this;
          $(this).parent().find('ul').slideToggle(function(){
            if( $(this).is(':visible') )
            {
              $($this).addClass('abc_expanded_menu');  
            }
            else
            {
              $($this).removeClass('abc_expanded_menu');
            }
          });
        });
      });

    </script>  

    <!-- ABC Edits -->

    <!--Cookie pop-up-->
    <script id="CookieConsent" src="https://policy.app.cookieinformation.com/uc.js"
            data-culture="EN" type="text/javascript"></script>

    <!--Yotpo reviews-->
    <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/zVrH0RCgytq9eT48brET3Dzp6iWM0ScRq2VBWXdV/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>

    <meta name="google-site-verification" content="nX729eUpMuXF4ybpQDpg6HwcEgC4hFi4WIZXhWqvSTk" />
    
  <!-- Hotjar Tracking Code -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2593905,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
    
  <!-- Sleeknote -->
  <script id="sleeknoteScript" type="text/javascript">
      (function () {
          var sleeknoteScriptTag = document.createElement("script");
          sleeknoteScriptTag.type = "text/javascript";
          sleeknoteScriptTag.charset = "utf-8";
          sleeknoteScriptTag.src = ("//sleeknotecustomerscripts.sleeknote.com/48660.js");
          var s = document.getElementById("sleeknoteScript"); 
          s.parentNode.insertBefore(sleeknoteScriptTag, s); 
      })();
  </script>
  
  {% comment %}ly_dir_styles_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_he_fa_ur' contains language_code -%}{{- 'ly-rtl.css' | asset_url | stylesheet_tag -}}{%- endif -%}{% comment %}ly_dir_styles_end{% endcomment %}</head>

  <body id="{{ page_title | handle }}" class="page-title--{{ page_title | handle }} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} flexbox-wrapper{% unless settings.animations_enabled %} animations-disabled{% endunless %}">

    {% if template != 'cart' %}
      {% render 'cart-drawer-v2' %}
    {% endif %}

    <div id="main-body">

      <div id="slideout-overlay"></div>

      {% section 'announcement-bar' %}
      {% section 'header' %}

      <div id="main" role="main">
        
        {% capture content_for_layout_gem %}
        {{ content_for_layout }}
        {% endcapture %}
        
        {% if GEM_FOOTER_SCRIPT %}
        	{{ content_for_layout_gem }}
            <noscript class="endOfLayoutContentX" type="text/mark"></noscript>
        {% else %}
        
          {% unless template == "index" or template == "collection" %}
          <div class="container">
            {% endunless %}

            {{ content_for_layout_gem }}
            <noscript class="endOfLayoutContentX" type="text/mark"></noscript>

            {% unless template == "index" or template == "collection" %}
          </div>
          {% endunless %}
        {% endif %}
        
        

      </div>

      {% section 'footer' %}
    </div>

    {% render 'popup' %}

    <script type="application/json" id="wetheme-global">
		{
			{% comment %}Translations that will be used in javascript section handling{% endcomment %}
			"translations": {
				"addToCart": {{ 'products.product.add_to_cart' | t | json }},
				"added": {{ 'products.product.added' | t | json }},
				"soldOut": {{ 'products.product.sold_out' | t | json }},
				"unavailable": {{ 'products.product.unavailable' | t | json }},
				"makeASelection": {{ 'products.product.make_a_selection' | t | json }},
				"showMore": {{ 'general.filters.show_more' | t | json }},
				"showLess": {{ 'general.filters.show_less' | t | json }},
				"saving": {{ 'products.general.saving' | t | json }}
			},
			"moneyFormat": {{ shop.money_format | json }}
		}
    </script>

    <!--Gem_Page_Footer_Script-->
    {% capture gemFooterScripts %}<script data-instant-track type="text/javascript">	var GEMVENDOR = GEMVENDOR || (function(){		var _js = {};		return {			init: function(Args) {				_js = Args;			},			getLibs: function() {				return _js;			}		};	}());	GEMVENDOR.init(pageLibs);</script><script data-instant-track type="text/javascript" src="https://d1um8515vdn9kb.cloudfront.net/files/gempagev2.js?v=1.0" class="gf-script" defer></script>{% endcapture %}
	{% assign gemHandleCheck = 'product.gem-1600174492-template, index.gem-1600174521-template, collection.gem-1601547491-template' | split: ", " %}{% for h in gemHandleCheck %}{% if template == h %}{{ gemFooterScripts }}{% endif %}{% endfor %}{{ GEM_FOOTER_SCRIPT }}    {% if shop.metafields.gpGlobalConfigs.enableProductSchema == "true" or shop.metafields.gpGlobalConfigs.enableProductSchema == blank %}  
      {{ GEM_SCHEMA_SCRIPT }}
    {% endif %}
    <!--End_Gem_Page_Footer_Script-->    
    
    {% comment %}
    <!--Gem_Page_Footer_Script-->
    {% include 'gem-app-footer-scripts' %}
    <!--End_Gem_Page_Footer_Script-->
	{% endcomment %}



    <style>
      .gf_equal-height{
        display: flex;
        flex-wrap: wrap;
      }
      html.gemapp.video {

        -webkit-overflow-scrolling: auto;

      }
      #AddONE.mybak{
        background:#eeeeee !important;
      }
      #AddTWO.mybak{
        background:#eeeeee !important;
      }
      #mAddONE.mybak{
        background:#eeeeee !important;
      }
      #mAddTWO.mybak{
        background:#eeeeee !important;
      }
      #ttAddONE.mybak{
        background:#eeeeee !important;
      }
      #ttAddTWO.mybak{
        background:#eeeeee !important;
      }
      #tAddONE.mybak{
        background:#eeeeee !important;
      }
      #tAddTWO.mybak{
        background:#eeeeee !important;
      }

      #mmAddONE.mybak{
        background:#eeeeee !important;
      }
      #mmAddTWO.mybak{
        background:#eeeeee !important;
      }

      #ttAddTHREE.mybak{
        background:#eeeeee !important;
      }

      #mmAddTHREE.mybak{
        background:#eeeeee !important;
      }

    </style>
    <script>

      $( "#AddONE" ).click(function() {
        $( "#AddONE" ).each(function(){
          $(this).addClass("mybak");
        })
        $( "#AddTWO" ).each(function(){
          $(this).removeClass("mybak");
        })
      });

      $( "#AddTWO" ).click(function() {
        $( "#AddTWO" ).each(function(){
          $(this).addClass("mybak");
        })
        $( "#AddONE" ).each(function(){
          $(this).removeClass("mybak");
        })

      });

      $( "#mAddONE" ).click(function() {
        $( "#mAddONE" ).each(function(){
          $(this).addClass("mybak");
        })
        $( "#mAddTWO" ).each(function(){
          $(this).removeClass("mybak");
        })
      });

      $( "#mAddONE" ).click(function() {
        $( "#mAddONE" ).addClass("mybak");
        $( "#mAddTWO" ).removeClass("mybak");
        $( "#mAddTHREE" ).removeClass("mybak");
      });

      $( "#mAddTWO" ).click(function() {
        $( "#mAddTWO" ).addClass("mybak");
        $( "#mAddONE" ).removeClass("mybak");
        $( "#mAddTHREE" ).removeClass("mybak");
      });

      $( "#mmAddONE" ).click(function() {
        $( "#mmAddONE" ).addClass("mybak");
        $( "#mmAddTWO" ).removeClass("mybak");
        $( "#mmAddTHREE" ).removeClass("mybak");
      });

      $( "#mmAddTWO" ).click(function() {
        $( "#mmAddTWO" ).addClass("mybak");
        $( "#mmAddONE" ).removeClass("mybak");
        $( "#mmAddTHREE" ).removeClass("mybak");
      });

      $( "#ttAddONE" ).click(function() {
        $( "#ttAddONE" ).addClass("mybak");
        $( "#ttAddTWO" ).removeClass("mybak");
        $( "#ttAddTHREE" ).removeClass("mybak");
      });

      $( "#ttAddTWO" ).click(function() {
        $( "#ttAddTWO" ).addClass("mybak");
        $( "#ttAddONE" ).removeClass("mybak");
        $( "#ttAddTHREE" ).removeClass("mybak");
      });


      $( "#tAddONE" ).click(function() {
        $( "#tAddONE" ).addClass("mybak");
        $( "#tAddTWO" ).removeClass("mybak");
      });

      $( "#tAddTWO" ).click(function() {
        $( "#tAddTWO" ).addClass("mybak");
        $( "#tAddONE" ).removeClass("mybak");
      });



      $( "#ttAddTHREE" ).click(function() {
        $( "#ttAddTHREE" ).addClass("mybak");
        $( "#ttAddONE" ).removeClass("mybak");
        $( "#ttAddTWO" ).removeClass("mybak");
      });

      $( "#mmAddTHREE" ).click(function() {
        $( "#mmAddTHREE" ).addClass("mybak");
        $( "#mmAddONE" ).removeClass("mybak");
        $( "#mmAddTWO" ).removeClass("mybak");
      });    
    </script>

    <script>
      $(document).ready(function() { 
        $('#AddONE').click().trigger('change');
        $('#mAddONE').click().trigger('change');
        $('#ttAddONE').click().trigger('change');
        $('#tAddONE').click().trigger('change');
        $('#mmAddONE').click().trigger('change');
      });
    </script>
	<script type="text/javascript" src="https://d1um8515vdn9kb.cloudfront.net/libs/js/owl.carousel.min.js" ></script>
    <!--Gem_Filter_Section-->

    <!--End_Gem_Filter_Section-->

    {% include 'js-translations' %}
    
    {% render 'geolizr-redirect' %}
    
<!-- langify-v2-scripts-begin -->{% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture %}{% render 'ly-liquid-scripts' content: ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}{% comment %}ly_core_scripts_begin{% endcomment %}{% render 'ly-core-scripts' %}{% comment %}ly_core_scripts_end{% endcomment %}{% comment %}ly_switcher_factory_begin{% endcomment %}{% render 'ly-switcher-factory' %}{% comment %}ly_switcher_factory_end{% endcomment %}<!-- langify-v2-scripts-end --></body>

</html>
{% endcapture %}
{{ content | replace: 'maxMutations: 5,','maxMutations: 30,' }}
