<script class="cartFlagX"></script><style>
  .site-header__logo-image img,
  .overlay-logo-image {
    width: {{ section.settings.logo_max_width }}px!important;
  }

  .logo-placement-within-wrapper--logo {
    width: {{ section.settings.logo_max_width }}px!important;
  }
  @media screen and (min-width: 992px) {
    .logo-placement-within-wrapper--logo {
      flex-basis: {{ section.settings.logo_max_width }}px!important;
    }
  }

  #main-navigation-wrapper.mega-menu-wrapper .mega-menu ul.nav li{
    padding-top: {{ section.settings.padding }}px;
    padding-bottom: {{ section.settings.padding }}px;
  }

  #site-header svg, .sticky-header-wrapper svg {
    height: {{ section.settings.icon-size }}px;
  }

  @media screen and (max-width: 768px) {
    #site-header svg, .sticky-header-wrapper svg {
        height: 24px;
    }
  }

</style>

{% capture header_logo %}

<div class="site-header__logo h1{% if section.settings.logo-placement == 'below-header' %} logo-placement--below{% else %} logo-placement--within{% endif %}" id="site-title" itemscope itemtype="http://schema.org/Organization">
{% comment %}If main logo but no overlay logo{% endcomment %}
  {% if section.settings.logo and section.settings.overlay_logo == blank %}
    <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image">
      {% capture alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
      {% capture props %}style="max-width: {{ section.settings.logo.width }}px" itemprop="logo"{% endcapture %}
      {% render 'responsive-image' with section.settings.logo, alt: image.alt, blur: false, props: props %}
    </a>

  {% comment %}If overlay logo enabled but not main{% endcomment %}
  {% elsif section.settings.overlay_logo and section.settings.logo == blank %}
    {% capture alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}

    {% if template == 'index' and section.settings.overlay_header %}
      <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image">
        {% capture props %}style="max-width: {{ section.settings.overlay_logo.width }}px" itemprop="logo"{% endcapture %}
        {% render 'responsive-image' with section.settings.overlay_logo, alt: image.alt, blur: false, props: props, class: "overlay-logo-image" %}
      </a>
      <a class="site-header__logo-link custom-font overlay-logo-image--sticky" href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
    {% else %}
      <a class="site-header__logo-link custom-font" href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
    {% endif %}


  {% comment %}If both logos are enabled{% endcomment %}  
  {% elsif section.settings.overlay_logo and section.settings.logo %}
    <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image">
      {% capture alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}

      {% if template == 'index' and section.settings.overlay_header %}
        {% capture props %}style="max-width: {{ section.settings.overlay_logo.width }}px" itemprop="logo"{% endcapture %}
        {% render 'responsive-image' with section.settings.overlay_logo, alt: image.alt, blur: false, props: props, class: "overlay-logo-image" %}
        {% capture props %}style="max-width: {{ section.settings.logo.width }}px" itemprop="logo"{% endcapture %}
        {% render 'responsive-image' with section.settings.logo, alt: image.alt, blur: false, props: props, class: "overlay-logo-image--sticky" %}
      {% else %}
        {% capture props %}style="max-width: {{ section.settings.logo.width }}px" itemprop="logo"{% endcapture %}
         {% render 'responsive-image' with section.settings.logo, alt: image.alt, blur: false, props: props %}
      {% endif %}
    </a>

  {% comment %}Show text title{% endcomment %}
  {% else %}
    <a class="site-header__logo-link custom-font" href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
  {% endif %}
</div>
{% endcapture %}

{% if settings.enable-article-results %}
    {% assign article_search = "article," %}
{% endif %}
{% if settings.enable-product-results %}
    {% assign product_search = "product," %}
{% endif %}
{% if settings.enable-page-results %}
    {% assign page_search = "page," %}
{% endif %}

<div class="header-wrapper{% if section.settings.overlay_header %} header-wrapper--overlay{% endif %}" data-wetheme-section-type="header" data-wetheme-section-id="{{ section.id }}">


 
<div class="header-logo-wrapper" data-section-id="{{ section.id }}" data-section-type="header-section">

<nav id="theme-menu" class="mobile-menu--wrapper slideout-panel-hidden">
  {% render 'nav-mobile' %}
</nav>

<div class="d-flex d-lg-none">
  <div class="mobile-header--wrapper">

    <div class="mobile-side-column mobile-header-wrap--icons nav">
      <a href="#theme-menu" class="slide-menu slide-menu-mobile">
        <i id="iconAnim" data-feather="menu"></i>
      </a>
    </div>

    <div class="mobile-logo-column mobile-header-wrap--icons">
      
      {% comment %} Spinning header logo {% endcomment %}
      <a href="{{ routes.root_url }}" class="site-header__logo-image">
      
        <div class="animated-logo">
          <div class="animated-logo__inner" id="logo-spin">
			<img class="animated-logo__img animated-logo__img--1" src="{{ 'Logo_Green_Mix.png' | asset_url }}" alt="{{ shop.name }}" draggable="false">
            <img class="animated-logo__img animated-logo__img--2" src="{{ 'sustainable_skincare.png' | asset_url }}" alt="{{ shop.name }}" draggable="false">
          </div>
		</div>
      </a>

 	  {% comment %}{{ header_logo }}{% endcomment %}
      
      
    </div>

    <div class="mobile-side-column mobile-header-wrap--icons mobile-header-right">
      
      {%comment%}
      <a href="{{ routes.cart_url }}" class="slide-menu{% if settings.cart-type == 'drawer' %} slide-menu-cart{% endif %}">
        <i data-feather="{{ section.settings.cart-style }}"></i>
      </a>
      {%endcomment%}
      
      
      	{%comment%} Mobile: Inserting Langify flag drop down in header {%endcomment%}
      	 <div class="header-currency drop-down">
         	
           {% include 'ly-custom-switcher' cs_bp:0 , cs_type: 'custom' %}
         </div>	      
      
      
      
         <div class="header-icons cart-link">
        <ul>
          <li><a href="/pages/faq" class="lsn-faq-icon">{{ 'faq.png' | asset_url | img_tag: 'The Soap Store' }}</a></li>
            {% if section.settings.search-enable %}
                <li>
                    <a href="#" class="icons--inline search-show" title="{{ 'layout.header.search' | t }}">
                        <i data-feather="search"></i>
                        {% if section.settings.label-enable %}<span class="header--supporting-text">{{ 'layout.header.search' | t }}</span>{% endif %}
                    </a>
                </li>
            {%  endif %}

            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                    <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                        <a href="{{ routes.account_url }}" class="icons--inline" title="{{ 'customer.account.title' | t }}">
                           <!-- <i data-feather="user"></i>-->
                          {{ 'persons.png' | asset_url | img_tag: 'The Soap Store' }}
                            {% if section.settings.label-enable %}<span class="header--supporting-text">{{ 'layout.header.account' | t }}</span>{% endif %}
                        </a>
                    </li>
                {% else %}
                    <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                        <a href="{{ routes.account_login_url }}" class="icons--inline" title="{{ 'layout.customer.log_in' | t }}">
                            <!-- <i data-feather="user"></i>-->
                          {{ 'persons.png' | asset_url | img_tag: 'The Soap Store' }}
                            {% if section.settings.label-enable %}<span class="header--supporting-text">{{ 'layout.header.account' | t }}</span>{% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ routes.cart_url }}" class="lsn-cart-icon icons--inline slide-menu{% if settings.cart-type == 'drawer' %} slide-menu-cart{% endif %}" title="{{ 'layout.header.your_cart' | t }}">
                    <!--<i data-feather="{{ section.settings.cart-style }}"></i>-->
                  {{ 'shopping-cart.png' | asset_url | img_tag: 'The Soap Store' }}
                    {% if section.settings.label-enable %}
                        <span class="header--supporting-text">{{ 'layout.header.your_cart' | t }}
                            {% case section.settings.cart-number %}
                            {% when 'quantity' %}
                                - <span class="cart-item-count-header cart-item-count-header--quantity">{{ cart.item_count }}</span>
                            {% when 'total' %}
                                - <span class="cart-item-count-header cart-item-count-header--total"><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span>
                            {% endcase %}
                        </span>
                    {% else %}
                        {% case section.settings.cart-number %}
                            {% when 'quantity' %}
                                <span class="header--supporting-text"><span class="cart-item-count-header cart-item-count-header--quantity">{{ cart.item_count }}</span></span>
                            {% when 'total' %}
                                <span class="header--supporting-text"><span class="cart-item-count-header cart-item-count-header--total"><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span></span>
                        {% endcase %}
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
    </div>        
  </div>
</div>

{% capture locale %}
  {% render 'localization-selectors', show_locale_selector: section.settings.show_locale_selector, show_currency_selector: section.settings.show_currency_selector %}
{% endcapture %}

{% capture top_bar_or_locale %}
  {% if section.settings.top_bar_linklist != blank %}
    <nav class="navbar nav-bar__top-nav" role="navigation" aria-label="Secondary">
      <div>
        {% render 'nav--top' with section.settings.top_bar_linklist, class: 'nav-pills' %}
      </div>
    </nav>
  {% else %}
    <div class="localization-selectors--left">
      {{ locale }}
    </div>
  {% endif %}
{% endcapture %}

{% capture locale_alternative %}
  {% if section.settings.top_bar_linklist != blank %}
    {% if section.settings.show_currency_selector or section.settings.show_locale_selector %}
      <div class="localization-selectors--right">
        {{ locale }}
      </div>
    {% endif %}
  {% endif %}
{% endcapture%}

{% capture main_icons %}
    <div class="header-icons cart-link">
        <ul>
          <li><a href="/pages/faq" class="lsn-faq-icon">{{ 'faq.png' | asset_url | img_tag: 'The Soap Store' }}</a></li>
            {% if section.settings.search-enable %}
                <li>
                    <a href="#" class="icons--inline search-show" title="{{ 'layout.header.search' | t }}">
                        <i data-feather="search"></i>
                        {% if section.settings.label-enable %}<span class="header--supporting-text">{{ 'layout.header.search' | t }}</span>{% endif %}
                    </a>
                </li>
            {%  endif %}

            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                    <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                        <a href="{{ routes.account_url }}" class="icons--inline" title="{{ 'customer.account.title' | t }}">
                           <!-- <i data-feather="user"></i>-->
                          {{ 'persons.png' | asset_url | img_tag: 'The Soap Store' }}
                            {% if section.settings.label-enable %}<span class="header--supporting-text">{{ 'layout.header.account' | t }}</span>{% endif %}
                        </a>
                    </li>
                {% else %}
                    <li{% if section.settings.search-enable == false %} class="login-no-padding"{% endif %}>
                        <a href="{{ routes.account_login_url }}" class="icons--inline" title="{{ 'layout.customer.log_in' | t }}">
                            <!-- <i data-feather="user"></i>-->
                          {{ 'persons.png' | asset_url | img_tag: 'The Soap Store' }}
                            {% if section.settings.label-enable %}<span class="header--supporting-text">{{ 'layout.header.account' | t }}</span>{% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ routes.cart_url }}" class="icons--inline slide-menu{% if settings.cart-type == 'drawer' %} slide-menu-cart{% endif %}" title="{{ 'layout.header.your_cart' | t }}">
                    <!--<i data-feather="{{ section.settings.cart-style }}"></i>-->
                  {{ 'shopping-cart.png' | asset_url | img_tag: 'The Soap Store' }}
                    {% if section.settings.label-enable %}
                        <span class="header--supporting-text">{{ 'layout.header.your_cart' | t }}
                            {% case section.settings.cart-number %}
                            {% when 'quantity' %}
                                - <span class="cart-item-count-header cart-item-count-header--quantity">{{ cart.item_count }}</span>
                            {% when 'total' %}
                                - <span class="cart-item-count-header cart-item-count-header--total"><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span>
                            {% endcase %}
                        </span>
                    {% else %}
                        {% case section.settings.cart-number %}
                            {% when 'quantity' %}
                                <span class="header--supporting-text"><span class="cart-item-count-header cart-item-count-header--quantity">{{ cart.item_count }}</span></span>
                            {% when 'total' %}
                                <span class="header--supporting-text"><span class="cart-item-count-header cart-item-count-header--total"><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span></span>
                        {% endcase %}
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
{% endcapture %}

{% capture main_icons_locale %}
    <div class="main-icons-with-locale">
        {{ top_bar_or_locale }}
        {{ main_icons }}
        {{ locale_alternative }}
    </div>
{% endcapture %}

<header id="site-header" class="clearfix d-none d-lg-block
{% if section.settings.logo-placement == 'below-header' %} no-overflow{% endif %}
{% if section.settings.top_bar_linklist != blank %} top-bar-enabled{% endif %}">
  {% if section.settings.search-enable %}
    {% render 'search-bar' %}
  {% endif %}

  <div>

    {% case section.settings.logo-placement %}

      {% when 'below-header' %}
        <div class="header-content logo-placement-below-header">
          <div class="logo-placement-below-header--indiv{% if section.settings.top_bar_linklist == blank and
            section.settings.show_locale_selector == false and
            section.settings.show_currency_selector == false %} empty{% endif %}">
            {{ top_bar_or_locale }}
          </div>

          <div class="logo-placement-below-header--indiv">
            {{ main_icons_locale }}
          </div>
        </div>

      {% when 'within-header' %}

            <div class="header-content logo-placement-within-wrapper">
<!--<div class="logo-placement-within-wrapper__item{% if section.settings.top_bar_linklist == blank and section.settings.show_locale_selector == false and section.settings.show_currency_selector == false %} empty{% endif %}">-->
              <div class="logo-placement-within-wrapper__item_menu">
                {%comment%}{{ top_bar_or_locale }}{%endcomment%}
                 <div class="header-menu-wrapper d-none d-lg-block">
    {% if section.settings.main_linklist != '' %}
      <div class="main-navigation-wrapper-main">
        <div id="main-navigation-wrapper" class="main-navigation-wrapper{% if section.blocks.size > 0 %} mega-menu-wrapper{% endif %}">
          {% render 'nav--main' with section.settings.main_linklist, class: 'nav-pills', section: section %}
        </div>
      </div>
    {% endif %}
  </div>
              </div>
              
                              
              

              <div class="logo-placement-within-wrapper__item_logo{% if logo %} logo-placement-within-wrapper--logo{% endif %}">
                  {{ header_logo }}
              </div>

              <div class="logo-placement-within-wrapper__item_util">
                 {% comment %} {{ main_icons_locale }} {% endcomment %}
                
                {% comment %} Adding div for language/currency drop down {% endcomment %}
                <div class="currency-header drop-down">
                  {% comment %}
                  {% if shop.metafields.geolizr.currency_widget_enabled == 'true' %}
                  {% include 'geolizr-currency-switcher' with arrowDirection: 'down' %}
                  {% endif %}
                  {% endcomment %}
                  {% include 'ly-custom-switcher' cs_bp:992 , cs_type: 'custom' %}
                  {% include 'ly-custom-switcher' cs_bp:0 , cs_type: 'custom' %}
                  <style>
                    @media(min-width: 992px){
                      .ly-switcher-wrapper.ly-breakpoint-2.ly-hide {
                        display: inline-block !important;
                      }
                    }
                    @media(max-width: 992px){
                      .ly-switcher-wrapper.ly-breakpoint-1.ly-hide {
                        display: inline-block !important;
                      }
                    }
                  </style>
                </div> 
                
                <div class="main-icons-with-locale">
                  {{ main_icons }}
                  {{ locale_alternative }}
                </div>                
                       
              </div>

          </div>

      {% endcase %}

      {% if section.settings.logo-placement == 'below-header' %}
          {{ header_logo }}
      {% endif %}

    </div>
 
  </header>
  
  {% if section.settings.sticky_header %}
<div class="sticky-header-wrapper">
  <div class="sticky-header-wrapper__inner">
   {%comment%} <div class="sticky-header-placer d-none d-md-block"></div>
    <div class="sticky-header-menu d-none d-md-block">
      {% comment %}#main-navigation-wrapper will be copied here{% endcomment %}
    </div>
    <div class="sticky-header-icons d-none d-md-flex">
      {% comment %}icons from .cart-link will be copied here{% endcomment %}
    </div>
    <div class="sticky-header-search d-none d-md-block">
      {% comment %}Search box will be copied here{% endcomment %}
    </div>
    <div class="sticky-mobile-header d-md-none">
      {% comment %}Mobile menu will be copied here{% endcomment %}
    </div>{%endcomment%}
    
     <div class="w-100">

    {% case section.settings.logo-placement %}

      {% when 'below-header' %}
        <div class="header-content logo-placement-below-header">
          <div class="logo-placement-below-header--indiv{% if section.settings.top_bar_linklist == blank and
            section.settings.show_locale_selector == false and
            section.settings.show_currency_selector == false %} empty{% endif %}">
            {{ top_bar_or_locale }}
          </div>

          <div class="logo-placement-below-header--indiv">
            {{ main_icons_locale }}
          </div>
        </div>

      {% when 'within-header' %}

            <div class="header-content logo-placement-within-wrapper">
<!--<div class="logo-placement-within-wrapper__item{% if section.settings.top_bar_linklist == blank and section.settings.show_locale_selector == false and section.settings.show_currency_selector == false %} empty{% endif %}">-->
              <div class="logo-placement-within-wrapper__item_menu">
                {%comment%}{{ top_bar_or_locale }}{%endcomment%}
                 <div class="header-menu-wrapper d-none d-lg-block">
    {% if section.settings.main_linklist != '' %}
      <div class="main-navigation-wrapper-main">
        <div id="main-navigation-wrapper" class="main-navigation-wrapper{% if section.blocks.size > 0 %} mega-menu-wrapper{% endif %}">
          {% render 'nav--main' with section.settings.main_linklist, class: 'nav-pills', section: section %}
        </div>
      </div>
    {% endif %}
  </div>
                 <div class="header-menu-wrapper d-block d-lg-none">
                <div class="mobile-side-column mobile-header-wrap--icons nav">
      <a href="#theme-menu" class="slide-menu slide-menu-mobile">
        <i id="iconAnim" data-feather="menu"></i>
      </a>
    </div>
                </div>
                
                
                
                
             
                
                
                
                
              </div>

              <div class="logo-placement-within-wrapper__item_logo{% if logo %} logo-placement-within-wrapper--logo{% endif %}">
                  {{ header_logo }}
              </div>

              <div class="logo-placement-within-wrapper__item_util">
                {% comment %}  {{ main_icons_locale }} {% endcomment %}
                
                <div class="currency-header drop-down">
                  {% comment %}{% include 'geolizr-currency-switcher' with arrowDirection: 'down' %} {% endcomment %}                 
                  {% include 'ly-custom-switcher' cs_bp:992 , cs_type: 'custom' %}
                  {% include 'ly-custom-switcher' cs_bp:0 , cs_type: 'custom' %}
                  
                </div> 
                
                <div class="main-icons-with-locale">
                  {{ main_icons }}
                  {{ locale_alternative }}
                </div>                

              </div>

          </div>

      {% endcase %}

      {% if section.settings.logo-placement == 'below-header' %}
          {{ header_logo }}
      {% endif %}

    </div>

    
  </div>
</div>
{% endif %}

 {%comment%} <div class="header-menu-wrapper d-none d-lg-block">
    {% if section.settings.main_linklist != '' %}
      <div class="main-navigation-wrapper-main">
        <div id="main-navigation-wrapper" class="main-navigation-wrapper{% if section.blocks.size > 0 %} mega-menu-wrapper{% endif %}">
          {% render 'nav--main' with section.settings.main_linklist, class: 'nav-pills', section: section %}
        </div>
      </div>
    {% endif %}
  </div>{%endcomment%}
</div>              

              
              

              
              
              
              
              



{% schema %}
{
    "name": {
        "en": "Header",
        "de": "Überschrift",
        "es": "Encabezado",
        "fr": "En-tête",
        "pt-PT": "Cabeçalho"
    },
    "settings": [
        {
            "type": "checkbox",
            "id": "sticky_header",
            "label": {
                "en": "Enable 'sticky' header",
                "de": "Feststehende Kopfzeile aktivieren",
                "es": "Habilitar encabezado «permanente»",
                "fr": "Activer l'en-tête collant",
                "pt-PT": "Ativar cabeçalho \"adesivo\""
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "overlay_header",
            "label": {
                "en": "Overlay header on homepage",
                "de": "Overlay-Kopfzeile auf Homepage",
                "es": "Encabezado de superposición en la página de inicio",
                "fr": "Superposition d'en-tête sur la page d'accueil",
                "pt-PT": "Cabeçalho de sobreposição na página inicial"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Logo",
                "de": "Logo",
                "es": "Logotipo",
                "fr": "Logo",
                "pt-PT": "Logótipo"
            }
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Logo image",
                "de": "Logobild",
                "es": "Imagen del logotipo",
                "fr": "Image du logo",
                "pt-PT": "Imagem do logótipo"
            },
            "info": {
                "en": "250 x 133px recommended",
                "de": "250 x 133 px empfohlen",
                "es": "Recomendado 250 x 133 px",
                "fr": "250 x 133 px recommandé",
                "pt-PT": "250 x 133px, recomendado"
            }
        },
        {
            "type": "image_picker",
            "id": "overlay_logo",
            "label": {
                "en": "Overlay logo image (Optional)",
                "de": "Überlagerung des Logobilds (optional)",
                "es": "Imagen del logo superpuesto (opcional)",
                "fr": "Superposition du logo (facultatif)",
                "pt-PT": "Sobrepor imagem do logótipo (Opcional)"
            },
            "info": {
                "en": "250 x 133px recommended",
                "de": "250 x 133 px empfohlen",
                "es": "Recomendado 250 x 133 px",
                "fr": "250 x 133 px recommandé",
                "pt-PT": "250 x 133px, recomendado"
            }
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "min": 50,
            "max": 500,
            "step": 10,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "label": {
                "en": "Width (in pixels)",
                "de": "Breite (in Pixeln)",
                "es": "Ancho (en píxeles)",
                "fr": "Largeur (en pixels)",
                "pt-PT": "Largura (em píxeis)"
            },
            "default": 250
        },
        {
            "type": "select",
            "id": "logo-placement",
            "label": {
                "en": "Logo placement",
                "de": "Logoplatzierung",
                "es": "Ubicación del logotipo",
                "fr": "Placement du logo",
                "pt-PT": "Colocação do logótipo"
            },
            "options": [
                {
                    "value": "below-header",
                    "label": {
                        "en": "Below header",
                        "de": "Unter Kopfzeile",
                        "es": "Debajo del encabezado",
                        "fr": "Au-dessous de l'en-tête",
                        "pt-PT": "Cabeçalho inferior"
                    }
                },
                {
                    "value": "within-header",
                    "label": {
                        "en": "Within header",
                        "de": "In Kopfzeile",
                        "es": "Dentro del encabezado",
                        "fr": "Dans l'en-tête",
                        "pt-PT": "Cabeçalho interior"
                    }
                }
            ],
            "default": "below-header"
        },
        {
            "type": "header",
            "content": {
                "en": "Icons",
                "de": "Symbole",
                "es": "Iconos",
                "fr": "Icônes",
                "pt-PT": "Ícones"
            }
        },
        {
            "type": "checkbox",
            "id": "search-enable",
            "label": {
                "en": "Enable search",
                "de": "Suche aktivieren",
                "es": "Habilitar búsqueda",
                "fr": "Activer la recherche",
                "pt-PT": "Ativar pesquisa"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "label-enable",
            "label": {
                "en": "Show icon labels",
                "de": "Symbolbezeichnungen anzeigen",
                "es": "Mostrar las etiquetas de iconos",
                "fr": "Afficher les étiquettes des icônes",
                "pt-PT": "Mostrar etiquetas dos ícones"
            },
            "default": false,
            "info": {
                "en": "Show text labels next to the icons",
                "de": "Textbezeichnungen neben den Symbolen anzeigen",
                "es": "Mostrar las etiquetas de texto al lado de los iconos",
                "fr": "Afficher les étiquettes de texte à côté des icônes",
                "pt-PT": "Mostrar etiquetas de texto junto aos ícones"
            }
        },
        {
            "type": "select",
            "id": "icon-size",
            "label": {
                "en": "Icon size",
                "de": "Symbolgröße",
                "es": "Tamaño del icono",
                "fr": "Taille de l'icône",
                "pt-PT": "Tamanho do ícone"
            },
            "options": [
                {
                    "value": "16",
                    "label": {
                        "en": "Small",
                        "de": "Klein",
                        "es": "Pequeño",
                        "fr": "Petite",
                        "pt-PT": "Pequeno"
                    }
                },
                {
                    "value": "18",
                    "label": {
                        "en": "Medium",
                        "de": "Mittel",
                        "es": "Mediano",
                        "fr": "Moyenne",
                        "pt-PT": "Médio"
                    }
                },
                {
                    "value": "20",
                    "label": {
                        "en": "Large",
                        "de": "Groß",
                        "es": "Grande",
                        "fr": "Grande",
                        "pt-PT": "Grande"
                    }
                }
            ],
            "default": "18"
        },
        {
            "type": "radio",
            "id": "cart-style",
            "label": {
                "en": "Cart icon",
                "de": "Einkaufswagen-Symbol",
                "es": "Icono del carrito",
                "fr": "Icône du panier",
                "pt-PT": "Ícone do carrinho"
            },
            "options": [
                {
                    "value": "shopping-bag",
                    "label": {
                        "en": "Shopping Bag",
                        "de": "Einkaufstasche",
                        "es": "Bolsa de la compra",
                        "fr": "Sac d'achat",
                        "pt-PT": "Saco de Compras"
                    }
                },
                {
                    "value": "shopping-cart",
                    "label": {
                        "en": "Shopping Cart",
                        "de": "Einkaufswagen",
                        "es": "Carrito de la compra",
                        "fr": "Panier d'achat",
                        "pt-PT": "Carrinho de Compras"
                    }
                }
            ],
            "default": "shopping-cart"
        },
        {
            "type": "radio",
            "id": "cart-number",
            "label": {
                "en": "Cart number",
                "de": "Einkaufswagen-Nummer",
                "es": "Número en el carrito",
                "fr": "Numéro de panier",
                "pt-PT": "Número do carrinho"
            },
            "options": [
                {
                    "value": "quantity",
                    "label": {
                        "en": "Quantity",
                        "de": "Anzahl",
                        "es": "Cantidad",
                        "fr": "Quantité",
                        "pt-PT": "Quantidade"
                    }
                },
                {
                    "value": "total",
                    "label": {
                        "en": "Cart total",
                        "de": "Einkaufswagen-Summe",
                        "es": "Total de la cesta",
                        "fr": "Total du panier",
                        "pt-PT": "Total do carrinho"
                    }
                },
                {
                    "value": "none",
                    "label": {
                        "en": "None",
                        "de": "Keiner",
                        "es": "Ninguno",
                        "fr": "Aucun",
                        "pt-PT": "Nenhum"
                    }
                }
            ],
            "default": "quantity"
        },
        {
            "type": "header",
            "content": {
              "en": "Language Selector",
              "de": "Sprachauswahl",
              "es": "Selector de idioma",
              "fr": "Sélecteur de langue",
              "pt-PT": "Seletor de Idioma"
            },
            "info": {
              "en": "To add a language, go to your [language settings.](/admin/settings/languages)",
              "de": "Gehen Sie zu Ihren [Spracheinstellungen](/admin/settings/languages), um eine Sprache hinzuzufügen.",
              "es": "Para agregar un idioma, ve a tu[configuración de idioma](/admin/settings/languages)",
              "fr": "Pour ajouter une langue, allez dans vos [paramètres de langue.](/admin/settings/languages).",
              "pt-PT": "Para adicionar um idioma, aceda a [definições de idioma.](/admin/settings/languages)"
            }
        },
        {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": {
              "en": "Show language selector",
              "de": "Sprachauswahl anzeigen",
              "es": "Mostrar el selector de idioma",
              "fr": "Afficher le sélecteur de langue",
              "pt-PT": "Mostrar seletor de idioma"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
              "en": "Currency Selector",
              "de": "Währungsauswahl",
              "es": "Selector de moneda",
              "fr": "Sélecteur de devise",
              "pt-PT": "Seletor de Moeda"
            },
            "info": {
              "en": "To add a currency, go to your [payment settings.](/admin/settings/payments)",
              "de": "Rufen Sie Ihre [Zahlungseinstellungen](/admin/settings/payments) auf, um eine Währung hinzuzufügen",
              "es": "Para añadir una moneda, vaya a su [configuración de pago](/admin/settings/payments)",
              "fr": "Pour ajouter une devise, accédez à vos [paramètres de paiement](/admin/settings/payments)",
              "pt-PT": "Para adicionar uma divisa, vá às suas [definições de pagamento](/admin/settings/payments)"
            }
        },
        {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": {
              "en": "Show currency selector",
              "de": "Währungsauswahl anzeigen",
              "es": "Mostrar el selector de moneda",
              "fr": "Afficher le sélecteur de devise",
              "pt-PT": "Mostrar seletor de moeda"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
                "en": "Menus",
                "de": "Menüs",
                "es": "Menú",
                "fr": "Menus",
                "pt-PT": "Menus"
            }
        },
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": {
                "en": "Main menu",
                "de": "Hauptmenü",
                "es": "Menú principal",
                "fr": "Menu principal",
                "pt-PT": "Menu principal"
            },
            "default": "main-menu"
        },
        {
            "type": "link_list",
            "id": "top_bar_linklist",
            "label": {
                "en": "Top Bar",
                "de": "Obere Leiste",
                "es": "Barra superior",
                "fr": "Barre supérieure",
                "pt-PT": "Barra Superior"
            },
            "info": {
                "en": "Optional",
                "de": "Optional",
                "es": "Opcional",
                "fr": "Facultatif",
                "pt-PT": "Opcional"
            }
        }
    ],
    "blocks": [
        {
            "type": "content",
            "name": {
                "en": "Mega Menu",
                "de": "Mega-Menü",
                "es": "Mega menú",
                "fr": "Méga menu",
                "pt-PT": "Mega Menu"
            },
            "settings": [
                {
                    "id": "mega-menu",
                    "type": "text",
                    "label": {
                        "en": "Mega menu",
                        "de": "Mega-Menü",
                        "es": "Mega menú",
                        "fr": "Méga menu",
                        "pt-PT": "Mega menu"
                    },
                    "info": {
                        "en": "Enter an existing menu item to apply a mega menu dropdown. [Learn more](https://faqs.wetheme.com/article/755-mega-menu)",
                        "de": "Geben Sie einen vorhandenen Menüartikel ein, um ein Mega-Menü-Drop-down anzuwenden. [Mehr erfahren](https://faqs.wetheme.com/article/755-mega-menu)",
                        "es": "Introduzca un artículo existente en el menú para aplicar un menú desplegable gigante. [Aprenda más](https://faqs.wetheme.com/article/755-mega-menu)",
                        "fr": "Entrez un élément de menu existant pour appliquer un méga menu déroulant.[En savoir plus](https://faqs.wetheme.com/article/755-mega-menu)",
                        "pt-PT": "Insira um item de menu existente para aplicar a um mega menu pendente. [Saber mais](https://faqs.wetheme.com/article/755-mega-menu)"
                    }
                },
                {
                    "type": "header",
                    "content": {
                        "en": "Image 1",
                        "de": "Bild 1",
                        "es": "Imagen 1",
                        "fr": "Image 1",
                        "pt-PT": "Imagem 1"
                    }
                },
                {
                    "type": "image_picker",
                    "id": "mega_image_1",
                    "label": {
                        "en": "Image",
                        "de": "Bild",
                        "es": "Imagen",
                        "fr": "Image",
                        "pt-PT": "Imagem"
                    },
                    "info": {
                        "en": "350 x 250px recommended",
                        "de": "350 x 250 px empfohlen",
                        "es": "Recomendado 350 x 250 px",
                        "fr": "350 x 250 px recommandé",
                        "pt-PT": "350 x 250px, recomendado"
                    }
                },
                {
                    "type": "text",
                    "id": "mega_image_header_1",
                    "label": {
                        "en": "Header",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "En-tête",
                        "pt-PT": "Cabeçalho"
                    }
                },
                {
                    "type": "text",
                    "id": "mega_image_subheader_1",
                    "label": {
                      "en": "Subheading",
                      "de": "Unterüberschrift",
                      "es": "Subencabezado",
                      "fr": "Sous-rubrique",
                      "pt-PT": "Subtítulo"
                    }
                },
                {
                    "type": "url",
                    "id": "mega_image_link_1",
                    "label": {
                        "en": "Link",
                        "de": "Link",
                        "es": "Enlace",
                        "fr": "Lien",
                        "pt-PT": "Ligação"
                    }
                },
                {
                    "type": "header",
                    "content": {
                        "en": "Image 2",
                        "de": "Bild 2",
                        "es": "Imagen 2",
                        "fr": "Image 2",
                        "pt-PT": "Imagem 2"
                    }
                },
                {
                    "type": "image_picker",
                    "id": "mega_image_2",
                    "label": {
                        "en": "Image",
                        "de": "Bild",
                        "es": "Imagen",
                        "fr": "Image",
                        "pt-PT": "Imagem"
                    },
                    "info": {
                        "en": "350 x 250px recommended",
                        "de": "350 x 250 px empfohlen",
                        "es": "Recomendado 350 x 250 px",
                        "fr": "350 x 250 px recommandé",
                        "pt-PT": "350 x 250px, recomendado"
                    }
                },
                {
                    "type": "text",
                    "id": "mega_image_header_2",
                    "label": {
                        "en": "Header",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "En-tête",
                        "pt-PT": "Cabeçalho"
                    }
                },
                {
                    "type": "text",
                    "id": "mega_image_subheader_2",
                    "label": {
                        "en": "Subheader",
                        "de": "Unterüberschrift",
                        "es": "Subencabezado",
                        "fr": "Sous-en-tête",
                        "pt-PT": "Subcabeçalho"
                    }
                },
                {
                    "type": "url",
                    "id": "mega_image_link_2",
                    "label": {
                        "en": "Link",
                        "de": "Link",
                        "es": "Enlace",
                        "fr": "Lien",
                        "pt-PT": "Ligação"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
