<script class="cartFlagX"></script><div class="title-bar wrapper--page-title">
	<h2>{{ 'cart.general.title' | t }}</h2>
</div>


{% comment %} old code: href="{{ routes.all_products_collection_url }}" {% endcomment %}

{% if cart.item_count == 0 %}
	<div class="empty-cart">{{ 'cart.general.empty' | t }}, <a href="products/ocean-plastic-deodorant">{{ 'cart.general.continue_browsing_html' | t }}</a></div>
{% else %}

{% assign cart_origin_total_price = 0 %}

<form action="{{ routes.cart_url }}" method="post" novalidate class="cart table-wrap" id="cartform" data-wetheme-section-type="template--cart" data-wetheme-section-id="{{ section.id }}">

	<table class="cart-table full table--responsive" border="0" cellspacing="0" cellpadding="0" class="d-none d-sm-block">
		<thead class="cart__row cart__header-labels">
			<th colspan="2"></th>
			<th class="cart--price-column">{{ 'cart.general.price' | t }}</th>
			<th>{{ 'cart.general.quantity' | t }}</th>
			<th class="cart--final-column">{{ 'cart.general.total' | t }}</th>
		</thead>

		<tbody>
			{% for item in cart.items %}
				
				{% assign c_variant = item.product.selected_or_first_available_variant %}
				{% assign new_variant = c_variant %}
				{% assign o_variant = null %}

        {% assign id = c_variant.id %}

				{% assign is_discount = false %}
				{% assign item_count = item.quantity %}
				{% assign idx = 0 %}

				{% assign id_arr = '' %}


				{% if item.product.tags contains 'discount' %}
		
					{% assign is_discount = true %}
					
					{% if item_count == 2 %}
						{% assign idx = 1 %}
					{% elsif item_count == 3 %}
						{% assign idx = 2 %}
					{% elsif item_count >= 4 %}
						{% assign idx = 3 %}
					{% endif %}

					{% if item.product.options.size == 1 %}
						{% assign id = item.product.variants[idx].id %}
						{% assign new_variant = item.product.variants[idx] %}
						{% assign original_price = item.product.variants.first.price %}
						{% assign o_variant = item.product.variants.first%}
					{% else %}
						{% assign opt_len = item.product.options.size | minus: 1 %}
						{% assign _idx = 0 %}
						{% for i in (1..opt_len) %}
							{% assign opt_handle = 'option' | append: i %}
							{% for variant in item.product.variants %}
								{% if forloop.first %}
									{% assign original_price = variant.price %}
								{% endif %}
								{% if idx == _idx %}
									{% assign id = variant.id %}
									{% assign new_variant = variant %}
								{% endif %}
								{% if variant[opt_handle] == c_variant[opt_handle] %}
									{% assign _idx = _idx | plus: 1 %}
									{% unless forloop.last or forloop.first %}
										{% assign id_arr = id_arr | append: ',' %}
									{% endunless %}
									{% assign id_arr = id_arr | append: variant.id %}
									{% if o_variant == null %}
										{% assign o_variant = variant %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endif %}
				{% else %}
					{% assign original_price = item.product.variants.first.price %}
				{% endif %}


				<tr class="{% cycle 'even', 'odd' %}" data-cart-table-item data-discount="{{ is_discount }}" data-index="{{ idx }}" {% if is_discount %}data-id-arr="{{ id_arr }}"{% else %}data-id="{{ item.variant.id }}"{% endif %}>
					<td class="cart-table-image">
						<a class="cart_thumb" href="{{item.product.url}}" title="View {{item.title}} Page">
							{% render 'responsive-image' with item, alt: item.title %}
						</a>
					</td>

					<td class="cart-table-title">
						<a class="cart-table-title__title" href="{{ item.url }}" title="View {{ item.title | escape }}">{{ item.product.title }}<span class="tdf-cart-item-t"></span></a>

						{% unless item.variant.title contains 'Default' %}
							<div class="cart__meta-text">
								{% for option in item.product.options %}
									<span>{{ option }}</span>: {{ item.variant.options[forloop.index0] }}<br/>
								{% endfor %}
							</div>
						{% endunless %}

						{% assign property_size = item.properties | size %}
						{% if property_size > 0 %}
							<br />
							{% for p in item.properties %}
								{% if p.last != blank and p.first.first != '_' %}
									{{ p.first }}:
									{% comment %}
									Check if there was an uploaded file associated
									{% endcomment %}
									{% if p.last contains '/uploads/' %}
										<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
									{% else %}
										{{ p.last }}
									{% endif %}
									<br>
								{% endif %}
							{% endfor %}
						{% endif %}

						<div class="cart-table-item-remove">
							<a href="{{ routes.cart_url }}/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
						</div>
					</td>

					<td class="cart-table-price">
						{%- if item.original_price != item.final_price -%}
							<span class="sr-only">{{ 'products.general.now_price' | t }}</span>
							<span class="order-discount"><span class="money">{{ item.final_price | money }}</span></span>
							<span class="sr-only">{{ 'products.general.was_price' | t }}</span>
							<del><span class="compare-at-price money"><div class="qb-price-item" data-id="{{ item.key }}">{{ item.original_price | money }}</div></span></del>
						{%- else -%}
							<span class="money">
								
								<div class="qb-price-item" data-id="{{ item.key }}">
									{% if o_variant.price != item.variant.price and o_variant != null %}
										{% assign line_o_price = o_variant.price | times: item.quantity %}
										{{ line_o_price | money }}
										{% assign cart_origin_total_price = cart_origin_total_price | plus: line_o_price %}
									{% else %}
										{% assign line_price = item.original_price | times: item.quantity %}
										{{ line_price | money }}
										{% assign cart_origin_total_price = cart_origin_total_price | plus: line_price %}
									{% endif %}
								</div>
							</span>
						{%- endif -%}

						{% if item.unit_price != blank %}
						<span class="cart__price-unit-price">
							{%- capture unit_price_separator -%}
							<span aria-hidden="true">/</span>
							{%- endcapture -%}
							{%- capture unit_price_base_unit -%}
							{%- if item.unit_price_measurement.reference_value != 1 -%}
							{{- item.unit_price_measurement.reference_value -}}
							{%- endif -%}
							{{ item.unit_price_measurement.reference_unit }}
							{%- endcapture -%}

							<span data-unit-price>( {{ item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}})
						</span>
						{% endif %}
					</td>

					<td class="cart-table-quantity">
						<div class="quantity-controls">
							<button type="button" {% if is_discount %}data-qty-minus{% else %}class="qty-minus"{% endif %}>-</button>
							<input class="number quantity-selector" type="text" size="4" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" value="{{item.quantity}}"/>
							<button type="button" {% if is_discount %}data-qty-plus{% else %}class="qty-plus"{% endif %}>+</button>
						</div>
						</div>
					</td>

					<td class="cart-table-line-price cart--final-column">
						{%- if item.original_line_price != item.final_line_price -%}
							<div>
								<span class="sr-only">{{ 'products.general.now_price' | t }}</span>
								<span class="order-discount"><span class="money">{{ item.final_line_price | money }}</span></span>
								<span class="sr-only">{{ 'products.general.was_price' | t }}</span>
								<del><span class="compare-at-price money"><div class="qb-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div></span></del>
							</div>
						{%- else -%}
							<span class="money">
								{% comment %}
								{% if o_variant.price != item.variant.price and o_variant != null %}
									<div class="original_price">{{ o_variant.price | times: item.quantity | money }}</div>
								{% endif %}
								{% endcomment %}
								<div class="qb-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div>
							</span>
						{%- endif -%}

						{%- if item.line_level_discount_allocations != blank -%}
              <ul class="order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount_allocation in item.line_level_discount_allocations -%}
                  <li class="order-discount--item">
                    {{ discount_allocation.discount_application.title }} <span class="sr-only">{{ 'products.general.saving' | t }} </span>(-<span class="money">{{ discount_allocation.amount | money }}</span>)
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="cart-bottom-box">

		{% if settings.allow_note %}
			<div class="col-md-6 checkout-add-note mobile">
				<p>{{ 'cart.general.note' | t }}&hellip;</p>
				<textarea id="note" name="note" class="form-control">{{ cart.note }}</textarea>
				&nbsp;
			</div>
		{% endif %}

		{%- if cart.cart_level_discount_applications != blank -%}
			<div class="cart--order-discount-wrapper custom-font">
				{%- for discount_application in cart.cart_level_discount_applications -%}
				<div class="cart--order-discount-wrapper--indiv">
					<span class="order-discount--cart-title">
						<span class="hide">{{ 'customer.order.discount' | t }}:</span>{{- discount_application.title -}}
					</span>
					<span class="order-discount">-<span class="money">{{ discount_application.total_allocated_amount | money }}</span></span>
				</div>
				{%- endfor -%}
			</div>
		{%- endif -%}

		<div class="cart-totals--wrapper">
			<div id="cart-total-header"><span id=''>{{ 'cart.general.subtotal' | t }}</span></div>
			<div id="cart-total-final-price">
				<span class="money"><span id=''><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span></span>
			</div>
			<div class="cart-table-price-per-unit">
				{%- if item.unit_price_measurement -%}
					<span class="money">{{ item.unit_price | money }}</span>
					<span> / </span>
					{%- if item.unit_price_measurement.reference_value != 1 -%}
						{{- item.unit_price_measurement.reference_value -}}
					{%- endif -%}
					{{ item.unit_price_measurement.reference_unit }}
				{%- endif -%}
			</div>
		</div>

		{% if cart_origin_total_price != cart.total_price %}
			<div class="cart-totals--wrapper">
				<div id="cart-total-header"><span id=''>You Save</span></div>
				<div id="cart-total-final-price">
					<span class="money"><span id=''><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart_origin_total_price | minus: cart.total_price | money }}</span></span>
				</div>
			</div>
		{% endif %}

		{%- capture taxes_shipping_checkout -%}
      {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
        {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- elsif shop.taxes_included -%}
        {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
      {%- elsif shop.shipping_policy.body != blank -%}
        {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
      {%- else -%}
        {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
      {%- endif -%}
    {%- endcapture -%}

      {% comment %}
		<div class="row">
			<div class="col-md-12">
				<div class="cart--shipping-message">{{ taxes_shipping_checkout }}</div>
			</div>
		</div>
      {% endcomment %}

		<div class="row cart-page--bottom">

			<div class="col-md-6 checkout-add-note desktop">
				{% if settings.allow_note %}
					<p>{{ 'cart.general.note' | t }}&hellip;</p>
					<textarea id="note" name="note" class="form-control">{{ cart.note }}</textarea>
				{% endif %}
				&nbsp;
			</div>

			<div class="col-md-6">
				{% if settings.enable_terms_conditions %}
				<div class="terms-conditions">
					<p>
						<label style="display:inline; float:none">
							<input style="float:none; vertical-align: middle;" type="checkbox" id="agree" data-terms-agree="{{ 'cart.general.terms_agree' | t | escape }}" />
							{% if settings.terms_conditions_link == blank %}
								{{ 'cart.general.terms_text' | t }}
							{% else %}
								{{ 'cart.general.terms_text_html' | t | replace: '#', settings.terms_conditions_link }}
							{% endif %}
						</label>
					</p>
				</div>
				{% endif %}
				<div id="checkout-buttons">
				{% if settings.enable_continue_shopping %}
					<a href="{{ routes.root_url }}" class="btn secondary-button continue-shopping--cart">{{ 'layout.cart.continue_shopping' | t }}</a>
				{% endif %}
				<input id="update_quantities" type="submit" value="{{ 'cart.general.update' | t }}" title="{{ 'cart.general.update' | t }}" name="update" class="btn secondary-button" />
				<input id="cart_submit" type="submit" value="{{ 'cart.general.checkout' | t }}" name="checkout" class="btn" />
			</div>

			{% if additional_checkout_buttons and settings.enable-additional-checkout-buttons %}
				<div class="additional-checkout-buttons additional-checkout-buttons--vertical">
					{{ content_for_additional_checkout_buttons }}
				</div>
			{% endif %}
		</div>
		</div>
	</div>

</form>

{% endif %}
