

{% schema %}
{
    "name": {
        "en": "Article pages",
        "de": "Artikelseiten",
        "es": "Páginas de artículos",
        "fr": "Pages d'articles",
        "pt-PT": "Páginas de artigos"
    },
    "settings": [
				{
						"type": "checkbox",
						"id": "show_author_name",
						"label": {
								"en": "Show author name",
								"de": "Autorennamen anzeigen",
								"es": "Mostrar el nombre de autor",
								"fr": "Afficher le nom de l'auteur",
								"pt-PT": "Mostrar nome do autor"
						},
						"default": false
				},
				{
						"type": "checkbox",
						"id": "show_dates",
						"label": {
								"en": "Show dates",
								"de": "Daten anzeigen",
								"es": "Mostrar fechas",
								"fr": "Afficher les dates",
								"pt-PT": "Mostrar datas"
						},
						"default": true
				},
        {
            "type": "header",
            "content": {
                "en": "Social sharing",
                "de": "Soziales Teilen",
                "es": "Compartir en redes sociales",
                "fr": "Partager sur les réseaux sociaux",
                "pt-PT": "Partilha social"
            }
        },
        {
            "type": "checkbox",
            "id": "social_sharing_facebook",
            "label": {
                "en": "Facebook",
                "de": "Facebook",
                "es": "Facebook",
                "fr": "Facebook",
                "pt-PT": "Facebook"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_sharing_twitter",
            "label": {
                "en": "Twitter",
                "de": "Twitter",
                "es": "Twitter",
                "fr": "Twitter",
                "pt-PT": "Twitter"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_sharing_pinterest",
            "label": {
                "en": "Pinterest",
                "de": "Pinterest",
                "es": "Pinterest",
                "fr": "Pinterest",
                "pt-PT": "Pinterest"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
                "en": "Sidebar",
                "de": "Seitenleiste",
                "es": "Barra lateral",
                "fr": "Barre latérale",
                "pt-PT": "Barra lateral"
            }
        },
        {
            "type": "image_picker",
            "id": "blog-sidebar-image",
            "label": {
                "en": "Image",
                "de": "Seitenleisten-Bild",
                "es": "Imagen de la barra lateral",
                "fr": "Image de la barre latérale",
                "pt-PT": "Imagem da barra lateral"
            }
        },
        {
            "type": "url",
            "id": "blog-sidebar-link",
            "label": {
                "en": "Link",
                "de": "Link",
                "es": "Enlace",
                "fr": "Lien",
                "pt-PT": "Ligação"
            }
        },
        {
            "type": "text",
            "id": "blog_sidebar_title",
            "label": {
                "en": "Heading",
                "de": "Seitenleisten-Überschrift",
                "es": "Encabezado de la barra lateral",
                "fr": "Titre de la barre latérale",
                "pt-PT": "Título da barra lateral"
            }
        },
        {
            "type": "richtext",
            "id": "blog_sidebar_desc",
            "label": {
                "en": "Description",
                "de": "Seitenleisten-Beschreibung",
                "es": "Descripción de la barra lateral",
                "fr": "Description de la barre latérale",
                "pt-PT": "Descrição da barra lateral"
            }
        },
        {
            "type": "checkbox",
            "id": "show_blog_tags",
            "label": {
                "en": "Show tags",
                "de": "Tags anzeigen",
                "es": "Mostrar etiquetas",
                "fr": "Afficher les étiquettes",
                "pt-PT": "Mostrar etiquetas"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_recent_posts",
            "label": {
                "en": "Show latest articles",
                "de": "Neueste Artikel anzeigen",
                "es": "Mostar Últimos artículos",
                "fr": "Afficher les Derniers articles",
                "pt-PT": "Mostrar Artigos mais recentes"
            }
        }
    ]
}
{% endschema %}
