{%- assign product_thumb_size = '160x160' -%}
{%- assign product_image_zoom_size = '1024x1024' -%}

{% comment %}Pick an option only makes sense together with dropdowns{% endcomment %}
{% if settings.show_swatches == false and section.settings.pick_an_option %}
  {% assign pick_an_option = true %}
{% else %}
  {% assign pick_an_option = false %}
{% endif %}

{% if pick_an_option %}
  {%- assign current_variant = product.selected_variant -%}
{% else %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
{% endif %}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if current_variant.compare_at_price > current_variant.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign full_width = false %}
{% if section.settings.image_size == 'full-width' %}
  {% assign full_width = true %}
{% endif %}

<meta itemprop="name" content="{{ product.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}">
<meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
<meta itemprop="brand" content="{{ product.vendor }}">
<meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
<meta itemprop="description" content="{{ product.description | strip_html | escape }}">

{% case section.settings.image_size %}
  {% when 'small' %}
    {%- assign product_image_width = 6 -%}
    {%- assign product_image_size = '345x' -%}
  {% when 'medium' %}
    {%- assign product_image_width = 7 -%}
    {%- assign product_image_size = '530x' -%}
  {% when 'large' %}
    {%- assign product_image_width = 8 -%}
    {%- assign product_image_size = '720x' -%}
  {% when 'full-width' %}
    {%- assign product_image_width = 12 -%}
    {%- assign product_image_size = '900x' -%}
{% endcase %}

{% if section.settings.thumbnail_position == 'below' or product.images.size <= 1 %}
  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_description_width = 'col-md-6' -%}
    {% when 'medium' %}
      {%- assign product_description_width = 'col-md-5' -%}
    {% when 'large' %}
      {%- assign product_description_width = 'col-md-4' -%}
    {% when 'full-width' %}
      {%- assign product_description_width = 'col-md-12' -%}
  {% endcase %}
{% else %}
  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_description_width = 'col-md-5' -%}
    {% when 'medium' %}
      {%- assign product_description_width = 'col-md-4' -%}
    {% when 'large' %}
      {%- assign product_description_width = 'col-md-3' -%}
    {% when 'full-width' %}
      {%- assign product_description_width = 'col-md-12' -%}
  {% endcase %}
{% endif %}

<div class="row">
  <div class="col-md-12">

  	<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  	  <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.back_home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

  	    {% if collection %}
  	      <span aria-hidden="true">&rsaquo;</span>
  	      {% if collection.handle %}
  	        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  	        {{ collection.title | link_to: url }}
  	      {% endif %}
  	    {% endif %}
  	    <span aria-hidden="true">&rsaquo;</span>
  	    <span>{{ product.title }}</span>

  	</nav>

  </div>
</div>

{% capture thumbnails %}
<div class="product-single__thumbnails product-single__thumbnails--{{ section.settings.thumbnail_position }} product-page--thumb-slider
{% if section.settings.thumbnail_position != 'below' %}
  {% if product.media.size <= 4 %} no-arrows{% endif %}
  vertical col-md-2
{% else %}
  {% if product.media.size <= 5 %} no-arrows{% endif %}
  horizontal
{% endif %}">
  {% if settings.sale_badge %}
    <div class="sale-badge mobile product-price__sale-label-{{ section.id }}{% unless on_sale %} hide{% endunless %}">{{ 'products.general.sale' | t }}</div>
  {% endif %}
  {% if product.media.size > 0 %}
    <div class="thumbs-direction-nav">
      <a class="thumbs-direction-nav--prev" href="#">
          {% if section.settings.thumbnail_position == 'below' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
          {% endif %}
      </a>
    </div>
    <div class="swiper-container"
      data-direction="{% if section.settings.thumbnail_position == 'below' %}horizontal{% else %}vertical{% endif %}"
      data-slides-per-view="{% if section.settings.thumbnail_position != 'below' %}4{% else %}5{% endif %}"
    >
      <div class="swiper-wrapper">
        {% assign featured_media = current_variant.featured_media | default: product.featured_media %}
        {% render 'product-media', product: product, section_id: section.id, featured_media_id: featured_media.id, enable_image_zoom: section.settings.enable_zoom, enable_video_loop: section.settings.enable_video_loop %}
      </div>
    </div>
    <div class="thumbs-direction-nav">
      <a class="thumbs-direction-nav--next" href="#">
          {% if section.settings.thumbnail_position == 'below' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
          {% endif %}
      </a>
    </div>
    <div class="swiper-pagination"></div>
  {% endif %}
</div>
{% endcapture %}

<div class="row media-size-{{ section.settings.image_size }}" id="product-box" data-section-id="{{ section.id }}" data-wetheme-section-type="template--product" data-wetheme-section-id="{{ section.id }}">
  {% if section.settings.thumbnail_position == 'left' %}
    {{ thumbnails }}
  {% endif %}
  <div class="product-medias{% if section.settings.thumbnail_position != 'below' and product.media.size > 1 %} col-sm-12 col-md-{{ product_image_width | minus: 2 }}{% else %} col-md-{{ product_image_width }}{% endif %}">

    <input type="hidden" id="thumbnail_changes_variant" value="{% if section.settings.thumbnail_changes_variant %}true{% else %}false{% endif %}" />

    {% if settings.sale_badge %}
      <div class="sale-badge desktop product-price__sale-label-{{ section.id }}{% unless on_sale %} hide{% endunless %}">{{ 'products.general.sale' | t }}</div>
    {% endif %}

    <div class="product-single__medias">
      {% comment %}Medias for thumbnails will go here on desktop{% endcomment %}
      {% if product.media.size == 0 %}
        {{ 'product-1' | append: current | placeholder_svg_tag: 'icon--placeholder' }}
      {% endif %}
    </div>

    {% if section.settings.thumbnail_position == 'below' %}
      {{ thumbnails }}
    {% endif %}
  </div>
  {% if section.settings.thumbnail_position == 'right' %}
    {{ thumbnails }}
  {% endif %}

  {% capture out_of_stock_email_form %}
    <div class="sold-out-notification" id="sold-out">
      {% form 'contact' %}
      <p class="accent-text success-msg form-success{% unless form.posted_successfully? %} hide{% endunless %}">
        {{ 'products.product.thanks' | t }}
      </p>
      {% if form.posted_successfully? %}
        <style>
            .stock-notice{
                display:none;
            }
        </style>
      {% else %}
        <span id="notify-me">{{ 'products.product.out-stock_html' | t: product: product.title }}</span>
      {% endif %}
      {% if form.errors %}
        <div class="error feedback accent-text">
          <span>{{ 'products.product.wrong-email' | t }}</span>
        </div>
      {% endif %}
      {% unless form.posted_successfully? %}
      <div id="notify-me-wrapper" class="clearfix" style="display:none;">
        {% if customer %}
          <input type="hidden" value="0">
          <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
        {% else %}
          <input style="width:60%;padding:4px;position:relative;top:2px;" required="required" type="email" name="contact[email]" placeholder="your@email.com" class="form-control{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
        {% endif %}
        <div>
          <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }}, variant: [X] becomes available." />
        </div>
        <div>
          <input class="btn btn-custom custom-font" type="submit" value="Send" />
        </div>
        <div class="lds-dual-ring newsletter-spinner hide"></div>
      </div>
      {% endunless %}
      {% endform %}
    </div>
  {% endcapture %}
  <div class="col-sm-12 {{ product_description_width }}">
  	<section class="entry-content product-description-main-wrapper{% unless section.settings.show_variant_labels %} hide-variant-labels{% endunless %}{% if settings.show_swatches %} variant-swatches-enabled{% else %} variant-dropdown-enabled{% endif %}">
      {% if settings.show_vendor or settings.show_SKU %}
        <div class="row product-vendor-sku">
          {% if settings.show_vendor %}
            <div class="indiv-product-vendor-text{% unless full_width %} col-{% if settings.show_SKU %}6{% else %}12{% endif %}{% endunless %}">{{ product.vendor }}</div>
          {% endif %}
          {% if settings.show_SKU %}
            <div class="indiv-product-sku-text{% unless full_width %} col-{% if settings.show_vendor %}6 text-right{% else %}12{% endif %}{% endunless %}{% unless current_variant.sku %} hide{% endunless %}">{{ current_variant.sku }}</div>
          {% endif %}
        </div>
      {% endif %}

  		<h1 class="custom-font product-description-header{% if settings.show_reviews %} reviews-enabled{% endif %}">{{ product.title }}</h1>

      {% if settings.show_reviews %}
      <a class="product-template--reviews-header" href="#shopify-product-reviews" tabindex="-1"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a>
      {% endif %}

      {% if full_width %}
        <div class="row">
      {% endif %}

      {% if section.settings.description_position == "below" %}
          {% if full_width %}
            <div class="col-sm-12 col-md-6 col-lg-8">
          {% endif %}

          <div class="product-description-wrapper above">
              {% render 'product-description-tabs', product: product %}
          </div>

          {% if full_width %}
            </div>
          {% endif %}
      {% endif %}

      {% if full_width %}
        <div class="col-sm-12 col-md-6 col-lg-4">
      {% endif %}

  			{% if product.available %}

  	        {% form 'product', product, id: "add-to-cart-form" %}
            <input type="hidden" id="cart-link" value="{{ routes.cart_url }}" />
            <ul class="product-page--pricing{% unless section.settings.show_discount == 'hide' %} discount-badge{% endunless %}">
              <!-- Variant price -->
              <li class="product-page--pricing--variant-price">
                <span class="js" id="price-field">
                  {% if pick_an_option %}
                    <span class="type-subheading">{{ 'products.product.make_a_selection' | t }}</span>
                  {% elsif current_variant.available %}
                    <span class="money">{{ current_variant.price | money }}</span>
                  {% else %}
                    {{ "products.product.sold_out" | t }}
                    {% assign on_sale = false %}
                  {% endif %}
                </span>
              </li>

              <!-- Variant 'compare at' price -->
              <li class="product-page--pricing--variant-compare-at-price">
                <span class="compare-at-price js{% unless on_sale %} hide{% endunless %}">
                  <span class="money">{{ current_variant.compare_at_price | money }}</span>
                </span>
              </li>

              {% render 'unit-price-measurement-variant', variant: current_variant %}

            </ul>

            {% unless section.settings.show_discount == 'hide' %}
            <div class="product-page--pricing--discount">
              {% case section.settings.show_discount %}
                {% when 'percentage' %}
                  <span class="variant-percentage-wrapper hide">
                    - <span class="variant-percentage">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
                  </span>
                {% when 'value' %}
                  <span class="variant-value-wrapper hide">
                    - <span class="variant-value"><span class="money">{{ current_variant.compare_at_price | minus: current_variant.price | money }}</span></span>
                  </span>
              {% endcase %}
            </div>
            {% endunless %}

            {% assign hide_default_title = false %}
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
              {% assign hide_default_title = true %}
            {% endif %}

            <div class="row">
             {% if product.variants.size > 0  %}

                {% if settings.show_swatches %}

                  {% if product.variants.size > 1 %}
                    {% for option in product.options %}
                      {% render 'swatch' with option, product: product, section: section %}
                    {% endfor %}
                  {% endif %}

                {% else %}

                  {% for option in product.options_with_values %}
                  <div class="product-form-option {% if section.settings.image_size == 'large' %}col-md-12{% else %}col-md-6{% endif %} col-sm-12 col-12{% if hide_default_title == true %} hide{% endif %}">
                    <div class="input-field product-option-select">
                      <wetheme-dropdown fit="parent">
                        <select id="SingleOptionSelector-{{ forloop.index0 }}"{% if option.values.size == 1 %} disabled{% endif %}>
                            {% if pick_an_option and option.values.size > 1 %}
                              <option value="" selected="selected" data-placeholder>Pick a {{ option.name }}</option>
                            {% endif %}
                            {% for value in option.values %}
                                {% if pick_an_option and option.values.size > 1 %}
                                    {% assign props = '' %}
                                {% elsif option.selected_value == value %}
                                    {% assign props = 'selected' %}
                                {% else %}
                                  {% assign props = '' %}
                                {% endif %}

                                <pre>{{ product.options_with_values.size }}</pre>

                                {% comment %}Hide out of stock variants{% endcomment %}
                                {% if product.options_with_values.size == 1 and section.settings.hide_out_of_stock %}
                                  {% assign hide = true %}
                                  {% for v in product.variants %}
                                    {% if v.option1 == value and v.available %}
                                      {% assign hide = false %}
                                    {% endif %}
                                  {% endfor %}
                                {% else %}
                                  {% assign hide = false %}
                                {% endif %}

                                {% unless hide %}
                                  <option {{ props }} value="{{ value | escape }}">{{ value }}</option>
                                {% endunless %}
                            {% endfor %}
                        </select>
                        <label for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                      </wetheme-dropdown>
                    </div>
                 </div>
                 {% endfor %}

                {% endif %}

  						{% endif %}

  						<select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="form-control original-select product-form__variants no-js">
  							{% for variant in product.variants %}
  								{% if variant.available %}
  									<option {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
  										{{ variant.title }} - <span class="money">{{ variant.price | money }}</span>
  									</option>
  								{% else %}
  									<option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
  								{% endif %}
  							{% endfor %}
  						</select>

  			      {% if section.settings.show_quantity_selector %}
  			        <div class="quantity-controls__outer {% if settings.show_swatches %}swatches-wrapper{% else %}selector-wrapper{% endif %} {% if section.settings.image_size == 'large' %}col-md-12{% else %}col-md-6{% endif %} col-sm-12 col-12">
  				        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                    <div class="quantity-controls">
                        <button type="button" class="qty-minus">-</button>
  		                    <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                        <button type="button" class="qty-plus">+</button>
                    </div>
  					    </div>
  					  {% endif %}

              <div class="col-md-12 product-page--submit-action" data-stock-email-enabled="{{ section.settings.show_out_of_stock_email }}">
              {% assign disabled = pick_an_option %}
              {% unless current_variant.available %}
                {% assign disabled = true %}
              {% endunless %}
  					    <button type="submit" name="add" id="purchase" class="btn {% if section.settings.show_smart_checkout %} secondary-button{% endif %}"{% if disabled %} disabled="disabled"{% endif %} data-cart-action="{{ section.settings.cart-action }}">
  					      {% if pick_an_option or current_variant.available %}
  					        {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
  					    </button>

                {% if section.settings.show_smart_checkout %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}

          {% if section.settings.show_out_of_stock_email %}
            <div class="variant-out-of-stock" style="display:none;">
              {{ out_of_stock_email_form }}
            </div>
          {% endif %}

        {% else %}

        <div>
          <div class="product-out-of-stock {% unless section.settings.show_out_of_stock_email %}email-enabled{% endunless %}">
            <p class="stock-notice">{{ 'products.product.sorry_stock' | t }}</p>
            {% if section.settings.show_out_of_stock_email %}
              {{ out_of_stock_email_form }}
            {% endif %}
          </div>
        </div>

        {% endif %}

        {% if full_width %}
          </div>
        {% endif %}

        {% if section.settings.description_position == "above" %}

            {% if full_width %}
              <div class="col-sm-12 col-md-6 col-lg-8">
            {% endif %}

            <div class="product-description-wrapper">
              {% render 'product-description-tabs', product: product %}
            </div>

            {% if full_width %}
              </div>
            {% endif %}

        {% endif %}

        {% if full_width %}
          <div class="col-sm-12">
        {% endif %}
        {% render 'social-sharing' %}
        {% if full_width %}
          </div>
        {% endif %}

        {% if full_width %}
        </div>
        {% endif %}

    </section>
  </div>

  {% unless product.empty? %}
    <script type="application/json" class="product-json">
      {{ product | json }}
    </script>
  {% endunless %}

</div>

{% if settings.show_reviews %}
  <div class="product-page-reviews-section">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
{% endif %}

{% schema %}
{
    "name": {
        "en": "Product pages",
        "de": "Produktseiten",
        "es": "Páginas de producto",
        "fr": "Pages des produits",
        "pt-PT": "Páginas de produtos"
    },
    "settings": [
        {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": {
                "en": "Show quantity selector",
                "de": "Anzahlauswähler anzeigen",
                "es": "Mostrar selector de cantidad",
                "fr": "Afficher le sélecteur de quantité",
                "pt-PT": "Mostrar selecionador de quantidade"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_smart_checkout",
            "label": {
                "en": "Show dynamic checkout button",
                "de": "Dynamischen Bezahlbutton anzeigen",
                "es": "Mostar el botón de compra dinámica",
                "fr": "Afficher le bouton de paiement dynamique",
                "pt-PT": "Mostrar botão de checkout dinâmico"
            },
            "default": true,
            "info": {
                "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                "de": "Lässt Kunden direkt unter Verwendung einer bekannten Zahlungsmethode bezahlen. [Mehr erfahren](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                "es": "Permita a los clientes finalizar su compra directamente utilizando un método de pago que les sea familiar. [Aprenda más](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                "fr": "Permet aux clients de payer directement en utilisant un mode de paiement familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                "pt-PT": "Permita que os clientes façam checkout diretamente utilizando um método de pagamento familiar. [Saber mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
            }
        },
        {
            "type": "checkbox",
            "id": "show_variant_labels",
            "label": {
                "en": "Show variant labels",
                "de": "Variantenbezeichnungen anzeigen",
                "es": "Mostrar etiquetas de las variantes",
                "fr": "Afficher les étiquettes des variantes",
                "pt-PT": "Mostrar etiquetas variantes"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "thumbnail_changes_variant",
            "label": {
                "en": "Change variant based on the thumbnail",
                "de": "Variante basierend auf Thumbnail verändern",
                "es": "Cambiar variante en base a la imagen en miniatura",
                "fr": "Modifier la variante en fonction de la vignette",
                "pt-PT": "Alterar base da variante na imagem em miniatura"
            },
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_out_of_stock_email",
            "label": {
                "en": "Enable out of stock email",
                "de": "Die E-Mail \"Nicht lieferbar\" aktivieren",
                "es": "Habilitar correo electrónico agotado",
                "fr": "Activer le courriel Rupture de stock",
                "pt-PT": "Ativar e-mail de esgotado"
            },
            "default": false
        },
        {
            "type": "checkbox",
            "id": "hide_out_of_stock",
            "label": {
                "en": "Hide out of stock variants",
                "de": "Nicht lieferbare Varianten verbergen",
                "es": "Ocultar las variantes en el stock",
                "fr": "Masquer les variantes en rupture de stock",
                "pt-PT": "Ocultar variantes em falta"
            },
            "default": false,
            "info": {
                "en": "Hide variants that are out of stock when there's one variant set",
                "de": "Nicht lieferbare Varianten verbergen, wenn eine Variante eingestellt ist",
                "es": "Oculta las variantes que no están disponibles en el stock cuando hay un grupo de variaciones",
                "fr": "Masquer les variantes en rupture de stock lorsqu'il n'y a qu'un seul ensemble de variantes.",
                "pt-PT": "Ocultar variantes em falta quando houver uma variante definida"
            }
        },
        {
            "type": "radio",
            "id": "description_position",
            "label": {
                "en": "Cart button location",
                "de": "Einkaufswagen-Button-Ort",
                "es": "Ubicación del botón del carrito",
                "fr": "Emplacement du bouton du panier",
                "pt-PT": "Localização do botão do carrinho"
            },
            "options": [
                {
                    "value": "above",
                    "label": {
                        "en": "Before product description",
                        "de": "Vor der Produktbeschreibung",
                        "es": "Cargar más botones",
                        "fr": "Avant la description du produit",
                        "pt-PT": "Antes da descrição do produto"
                    }
                },
                {
                    "value": "below",
                    "label": {
                        "en": "After product description",
                        "de": "Nach der Produktbeschreibung",
                        "es": "Después de la descripción del producto",
                        "fr": "Après la description du produit",
                        "pt-PT": "Depois da descrição do produto"
                    }
                }
            ],
            "default": "above"
        },
        {
            "type": "radio",
            "id": "cart-action",
            "label": {
                "en": "Add to Cart action",
                "de": "Aktion „Zum Einkaufswagen hinzufügen“",
                "es": "Acción de Añadir al carrito",
                "fr": "Action d'ajout au panier",
                "pt-PT": "Ação Adicionar ao Carrinho"
            },
            "options": [
                {
                    "value": "drawer",
                    "label": {
                        "en": "Show drawer",
                        "de": "Schublade zeigen",
                        "es": "Mostrar cajón",
                        "fr": "Afficher le tiroir",
                        "pt-PT": "Mostrar gaveta"
                    }
                },
                {
                    "value": "added",
                    "label": {
                        "en": "Show 'Added' message",
                        "de": "„Hinzugefügt“-Mitteilung zeigen",
                        "es": "Mostar el mensaje de «Añadido»",
                        "fr": "Afficher le message « Ajouté »",
                        "pt-PT": "Mostrar mensagem \"Adicionado\""
                    }
                },
                {
                    "value": "cart",
                    "label": {
                        "en": "Go to cart",
                        "de": "Zum Einkaufswagen gehen",
                        "es": "Ir al carrito",
                        "fr": "Aller au panier",
                        "pt-PT": "Ir para o carrinho"
                    }
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "pick_an_option",
            "label": {
                "en": "Enable 'Pick an option'",
                "de": "„Eine Option auswählen“ aktivieren",
                "es": "Habilitar «Escoja una opción»",
                "fr": "Activez « Choisir une option ».",
                "pt-PT": "Ativar \"Escolher uma opção\""
            },
            "default": false
        },
        {
            "type": "select",
            "id": "show_discount",
            "label": {
                "en": "Enable discount savings?",
                "de": "Rabattersparnisse aktivieren?",
                "es": "¿Habilitar ahorros por descuentos?",
                "fr": "Permettre des économies de rabais ?",
                "pt-PT": "Ativar promoções?"
            },
            "options": [
                {
                    "value": "hide",
                    "label": {
                        "en": "Hide",
                        "de": "Verbergen",
                        "es": "Ocultar",
                        "fr": "Cacher",
                        "pt-PT": "Ocultar"
                    }
                },
                {
                    "value": "percentage",
                    "label": {
                        "en": "Percentage",
                        "de": "Prozentsatz",
                        "es": "Porcentaje",
                        "fr": "Pourcentage",
                        "pt-PT": "Percentagem"
                    }
                },
                {
                    "value": "value",
                    "label": {
                        "en": "Value",
                        "de": "Wert",
                        "es": "Valor",
                        "fr": "Valeur",
                        "pt-PT": "Valor"
                    }
                }
            ],
            "default": "hide",
            "info": {
                "en": "Discounts will only be shown on variants that are on sale",
                "de": "Rabatte werden nur auf Varianten angezeigt, die im Angebot sind",
                "es": "Los descuentos solo se mostrarán en las variantes que están de oferta.",
                "fr": "Les remises ne s'appliqueront qu'aux variantes en vente.",
                "pt-PT": "Os descontos apenas serão exibidos em variantes que estejam à venda"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Social sharing",
                "de": "Soziales Teilen",
                "es": "Compartir en redes sociales",
                "fr": "Partager sur les réseaux sociaux",
                "pt-PT": "Partilha social"
            }
        },
        {
            "type": "checkbox",
            "id": "social_sharing_facebook",
            "label": {
                "en": "Facebook",
                "de": "Facebook",
                "es": "Facebook",
                "fr": "Facebook",
                "pt-PT": "Facebook"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_sharing_twitter",
            "label": {
                "en": "Twitter",
                "de": "Twitter",
                "es": "Twitter",
                "fr": "Twitter",
                "pt-PT": "Twitter"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "social_sharing_pinterest",
            "label": {
                "en": "Pinterest",
                "de": "Pinterest",
                "es": "Pinterest",
                "fr": "Pinterest",
                "pt-PT": "Pinterest"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
              "en": "Media",
              "de": "Medien",
              "es": "Medios de comunicación",
              "fr": "Médias",
              "pt-PT": "Multimédia"
            },
            "info": {
              "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
              "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
              "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
              "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
              "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)"
            }
        },
        {
            "type": "select",
            "id": "image_size",
            "label": {
              "en": "Size",
              "de": "Größe",
              "es": "Tamaño",
              "fr": "Taille",
              "pt-PT": "Tamanho"
            },
            "options": [
                {
                    "value": "small",
                    "label": {
                        "en": "Small",
                        "de": "Klein",
                        "es": "Pequeño",
                        "fr": "Petite",
                        "pt-PT": "Pequeno"
                    }
                },
                {
                    "value": "medium",
                    "label": {
                        "en": "Medium",
                        "de": "Mittel",
                        "es": "Mediano",
                        "fr": "Moyenne",
                        "pt-PT": "Médio"
                    }
                },
                {
                    "value": "large",
                    "label": {
                        "en": "Large",
                        "de": "Groß",
                        "es": "Grande",
                        "fr": "Grande",
                        "pt-PT": "Grande"
                    }
                },
                {
                    "value": "full-width",
                    "label": {
                        "en": "Full width",
                        "de": "Volle Breite",
                        "es": "Ancho completo",
                        "fr": "Pleine largeur",
                        "pt-PT": "Largura total"
                    }
                }
            ],
            "default": "medium"
        },
        {
            "type": "select",
            "id": "thumbnail_position",
            "label": {
                "en": "Thumbnail position",
                "de": "Thumbnail-Position",
                "es": "Posición de la imagen en miniatura",
                "fr": "Position de la vignette",
                "pt-PT": "Posição da imagem em miniatura"
            },
            "options": [
                {
                    "value": "below",
                    "label": {
                        "en": "Below main image",
                        "de": "Unter Hauptbild",
                        "es": "Debajo de la imagen principal",
                        "fr": "Image principale ci-dessous",
                        "pt-PT": "Imagem principal abaixo"
                    }
                },
                {
                    "value": "left",
                    "label": {
                        "en": "Left of main image",
                        "de": "Links auf Hauptbild",
                        "es": "A la izquierda de la imagen principal",
                        "fr": "Partie gauche de l'image principale",
                        "pt-PT": "Esquerda da imagem principal"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right of main image",
                        "de": "Rechts auf Hauptbild",
                        "es": "A la derecha de la imagen principal",
                        "fr": "Partie droite de l'image principale",
                        "pt-PT": "Direita da imagem principal"
                    }
                }
            ],
            "default": "below"
        },
        {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": {
                "en": "Enable image zoom",
                "de": "Bildzoom aktivieren",
                "es": "Habilitar zoom sobre la imagen",
                "fr": "Activer le zoom de l'image",
                "pt-PT": "Ativar zoom de imagem"
            },
            "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_video_loop",
          "label": {
            "de": "Videschleife aktivieren",
            "en": "Enable video looping",
            "es": "Habilitar la reproducción de video en bucle",
            "fr": "Activer le bouclage de la vidéo",
            "pt-PT": "Ativar ciclo de vídeo"
          },
          "default": false
        }
    ]
}
{% endschema %}
