/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/

@media screen and (min-width: 992px){
  .site-header__logo h1{width:150px!important}
}


/* ABC EDITS START */


@media screen and (min-width: 992px){
  .blog-main ul li {

      float: left !important;
      margin-left: 30px !important;
      width: 250px !important;

  }

  #shopify-section-template--blog .article-image img {
      display: inline-block;
      height: 250px;
  }
}


#blog_posts h1{
  margin-bottom: 50px;
}


.footer__social-icons {
    width: 100px !important;
    float: left !important;
  	padding-top: 15px !important;
}

.footer-block--wrapper .sm-icons svg {
    height: 30px !important;
    width: 30px !important;
}



footer #newsletter-wrapper input {
    border: 1px solid var(--footer-text);
    background: #ffffff;
    color: #888888;
    /*border-radius: 9px;*/
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
}


#newsletter-wrapper #newsletter_submit{
    border: none;
    background: #a0a48a;
    color: #888888;
    /*border-radius: 9px;*/
    width: 35%;
    margin-left: 6px;
      color: #ffffff;
    font-size: 15px;
    padding-top: 15px;
  	padding-left: 15px !important;
  	padding-bottom: 15px;
  	padding-right: 15px;
    font-family: quicksand;
}



.newsletter_terms{
  
  font-size: 11px;
}


/* FOOTER MOBILE */
@media (min-width: 768px){
 

#shopify-section-footer .col-md-3{
   max-width: 25% !important;
}



#shopify-section-footer .newslb{
  
      flex: 0 0 40%  !important;
  max-width: 40%  !important; 
}


}

.bottom-footer{
  
  
      margin-top: 0 !important;
}


#shopify-section-footer .type-subheading {
    font-size: 25px !important;
    padding-bottom: 15px !important;
    font-weight: 100 !important;
}

#shopify-section-footer .social_footer_title{
  padding-top: 21px !important;
  text-transform: none !important;
  font-size: 16px !important;
}


@media screen and (max-width: 768px){
  
.footer a {
    font-size: 22px;
}
    
   
.footer__social-icons {
    display: none;
}
  
#shopify-section-footer .social_footer_title {
    display: none;
}  
  
/* Center footing on mobile */
/*  
#shopify-section-footer .type-subheading,#shopify-section-footer .links-footer ul li{
  
  
  text-align: center !important;
  
}
*/  
  
  
 #shopify-section-footer .col-md-3{ 
  
      padding-right: 25px;
    padding-left: 25px;
  
  }
  
  .mailing-list-footer p {
    margin-bottom: 20px;
    text-align: left;
}
  
  /* Email text input field MOBILE */
  footer #newsletter-wrapper input {
    text-align: center !important;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
    /*width: 320px !important;*/
}
  
  #newsletter_submit {
    text-align: center !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
    /*width: 320px !important;*/
}

  .newsletter_terms{
    
    text-align: left;
    
  }
  #shopify-section-footer .social_footer_title {
    padding-top: 30px !important;
  }
  
  .bottom-footer-row .copyright {
    /*align-self: flex-start;*/
}
  
  .bottom-footer .container{ 
  
      padding-right: 25px;
    padding-left: 25px;
  
  }
  
  #footer-payment-methods {
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
}
  
  #footer-payment-methods svg {
    width: 50px!important;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  
  
/*  
 #shopify-section-template--blog .blog-banner-text{
    
        top: 93px !important;
    font-size: 30px !important;
    left: 40px !important;
    
  }
  
  
  .blog-main ul li {
   
    margin-left: 0px !important;
    width: 100%!important;
}
  
  #shopify-section-template--blog .article-image img {
    height: 235px !important;
}
*/
  
  #newsletter-wrapper {
   
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
 
  #newsletter-wrapper #newsletter_submit {
    text-align: center !important;
    border: none;
    background: #a0a48a;
    /*border-radius: 9px;*/
    /*height: 50px;*/
    margin-left: 0px;
    color: #ffffff;
    font-size: 16px;
    font-family: quicksand;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 15px;
}
  


/*  
  Original code 
  #newsletter-wrapper #newsletter_submit {
    text-align: center
    border: none;
    background: #e34f2a;
    border-radius: 9px;
    height: 53px;
    width: 200px;
    margin-left: 0;
    color: #ffffff;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 113px !important;
    margin-top: 15px;
}  
*/  
  
  .links-footer h3::after {
    content: "+";
    float: right;
    font-size: 40px;
}
  
.links-footer h3.abc_expanded_menu::after {
    content: "-";
}

#shopify-section-footer .links-footer:nth-child(-n+3) .type-subheading {
    
    border-bottom: 1px solid #dddbdb !important;
}

  
  
  
  
  
  
}



/*
  .template-blog .blog-author img {
       display: inline;
    width: 40px;
    height: 100%;
    border-radius: 100%;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
  }


.template-blog .blog-title-wrapper  h3 a{
      font-size: 19px!important;
    line-height: 1!important;
    font-weight: 700!important;
  letter-spacing: .1px !important;
  
  
}



.template-blog .blog-author p{
    color: #03a9f4b5;
    font-weight: bold;
    font-size: 15px;
}


.template-blog .blog-publish-date{
  
  font-size: 11px;
    font-weight: 500;
    margin-top: -8px;
  
}

#shopify-section-template--blog .blog-banner{
background-image:url(https://cdn.shopify.com/s/files/1/0483/8712/9507/t/2/assets/blog-banner-top_1500x.jpg?v=6172538770050823387);
   height: 310px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
  position:relative;
}

#shopify-section-template--blog .blog-banner-text{
  
  position: absolute;
    top: 105px;
    font-size: 40px;
    left: 70px;
    font-weight: bold;
    width: 210px;
    line-height: 1.3;
  
}

#shopify-section-template--blog .article-image img {

    height: 150px;
}
*/


.blog--excerpt h3{
    font-size: 22px!important;
}

#shopify-section-template--blog{
  margin-top: 30px;
  margin-bottom: 30px;
}










/* ABC EDITS END */








/* LSN EDITS BEGIN */


.mailchimp-input{
/*
  width:100%;
border: 1px solid red;
  */
}


.myHiddenStuff{
 visibility: hidden;
}



/* language stuff */
.translation-lab-floating-dropdown-container {
	z-index: 1000000 !important;
  background-color: transparent !important;
  }

.translation-lab-floating-dropdown > span {
     color: white !important;
}



/* social icons and svg ico generally */
.sm-icons svg {
 
    height: 1.5rem !important;
    width: 1.5rem !important;
  
   
}

a.icons--inline.slide-menu img
{
	width:30px !important;
	height:30px !important;
}



#footer-payment-methods svg {
    height: 32px !important;
    border-radius: 5px;
  }


.lsn-faq-icon img { width:30px; height:30px;}


/* LSN EDITS END */

/* geolizr */
.currency-header.drop-down .geolizr-currency-switch-wrapper {
  margin-right: 0;
  margin-bottom: 2px;
}

.geolizr-currency-switch-wrapper.mobile {
  top: 14px;
}
.mobile .geolizr-currency-switcher.geolizr-currency-link {
  margin: 0;
  color: white !important;
}
.mobile .geolizr-currency-list-link.geolizr-currency-link {
  margin: 0;
}

.geolizr-currency-switch-wrapper.mobile a.geolizr-currency-switcher.geolizr-currency-link {
  background-color: transparent;
}

.geolizr-currency-switcher-value,
.geolizr-selectable-currency {
  font-family: Raleway, sans-serif;
}


.geolizr-currency-switcher-value {
  text-align: center !important;
}

.geolizr-currency-switcher-arrow-down, .geolizr-currency-switcher-arrow-up { display: none; }

@media only screen and (min-width : 768px) {
  .geolizr-currency-switch-wrapper.mobile { display: none; }
}


/* geolizr end */  

#paginate {
  display: none;
}

/* STACKABLE DISCOUNT */
.stkbl-cart-container-outer{
  margin-bottom: 10px!important;
  line-height: 1.4;
}
.stkbl-cart-container-inner{max-width:100%!important;margin-left:30px;margin-right:30px;}
.stkbl-values-subtotal-label-pair{font-weight: bold;}

.ajax-cart-price-wrapper{display:none;}

@media only screen and (min-width: 768px){
  .stkbl-cart-container-outer {
    justify-content: center !important;  
}
  .stkbl-tags-container{display:none!important;}
  .stkbl-code-tags-container{margin-bottom:0px!important;padding-bottom:0px!important;}
  .stkbl-values-container{margin-bottom: 10px}
  /*.stkbl-code-container {display:none!important;}
  .stkbl-tags-container {display:none!important;}*/
}

@media only screen and (max-width: 768px){
  .btn {
    padding: 12px 5px;
  }
  .stkbl-tags-container{display:none!important;}
  .stkbl-code-tags-container{margin-bottom:0px!important;padding-bottom:0px!important;}
  .stkbl-values-container{margin-bottom: 10px}
  /*.stkbl-code-container {display:none!important;}
  .stkbl-tags-container {display:none!important;}*/
}

@media only screen and (min-width: 768px){
#cartform .stkbl-cart-container-outer {
    justify-content: flex-end !important;
}
}  



/* CART DRAWER */
@media only screen and (max-width: 768px) {
  .cart-item{
    padding: 15px 15px;
    max-height: 100px;
  }
  
  .cart-item .cart-item-details--wrapper {
    font-size: 12px;
    line-height: 1;
  }
  
  .cart-item .cart-item-image--wrapper img {
    height:70px;
    width: auto!important;
  }
  
  .cart-item .cart-item-details--wrapper .cart-item-details--product-title-wrapper {
    margin-bottom: 5px;
  }
  
  #cart-item-remove-button {
    padding-bottom: 10px;
    font-size: 12px;
  }
  
  .stkbl-code-text-field {
    font-size: 16px!important;
  }
  
}

/* Langify language drop down */

@media only screen and (max-width: 991px) {
  .ly-custom-dropdown-list{width: 100%!important;}
  .ly-icon{margin-right:0!important; margin-left:0!important;font-size:22px!important}
  /*.ly-custom-dropdown-switcher{padding:0.2em 0.2em!important}*/
  .ly-arrow{display: none!important}

  .mobile-menu--wrapper ul li:not([class^=sm-]){border-bottom:1px solid #ebebeb}
  
  .mobile-menu-reviews-wrapper{
    display: grid;
    justify-items: center;
    align-content: flex-end;
    position: absolute;
    bottom: 50px;
    left: 25%;
    right: 25%;
  }
  .mobile-menu-reviews-wrapper span{
    margin: 10px 0px;
    font-family: 'Montserrat';
    font-size: 12px;
  }
  .reviews-logo{width:150px;}
  
  /* collections mobile menu */
  .mobile-nav__collections {
    padding: 0% 5%;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 12px;
  }

  .mobile-nav__collection {
      display: flex;
      flex-direction: column;
      border: 1px solid #f0f0f3;
      border-radius: 8px;
      overflow: hidden;
  }

  .mobile-nav__collection img {
      display: block;
      width: 100%;
      height: 75%;
      object-fit: cover;
  }

  .mobile-nav__collection span {
      text-align: center;
      display: block;
      margin-top: 8px;
      margin-bottom: 4px;
      font-family: 'Montserrat Alternates';
      font-weight: bold;
      color: #505C4A;
      font-size: 14px;
  }

  .search-disabled .menu-close-icon{
    border-bottom: none!important;
  }

  .mobile-menu--wrapper ul li:not([class^=sm-]){
      border-bottom: 1px solid #efefef;
  }
  
}
@media only screen and (min-width: 992px) {
  .ly-arrow{display: none!important}
}

[data--hidden] {
  display: none !important;
}

.gf_product-price[data--hidden] {
  display: none !important;
}

.cart-item-quantity-active button {
  pointer-events: none;
}
.cart-item a.cart-item-link {
  color: var(--color-primary);
}
.cart-item .was-price {
  display: block;
  text-decoration: line-through;
}

.gf_swatches-selector[data-name="Discount"] {
  display: none !important;
}

.gf_swatches-selector[data-name="Discount"] p {
  /* display: block !important; */
}
/* 
.gf_swatches-selector[data-name="Discount"] .scent .gf_swatch {
  background: #efefef;
  width: 15px;
  height: 15px;
} */

.cart_summary {
  margin-bottom: 10px;
}
.cart_summary .cart_total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}


.cart_summary .cart_save {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.product-bade-wrapper {
  display: none !important;
}

.cart-item-quantity-active button, .cart-item-quantity-active input {
  opacity: .5;
  pointer-events: none;
}

.product-price {
  font-family: Montserrat Alternates!important;
  color: #505c4a!important;
  font-size: 20px!important;
  font-weight: 700!important;
}