<article id="{{page.handle}}" class="post hentry">

	<div class="row">

	{% if section.settings.blog-sidebar-image or section.settings.blog_sidebar_title != empty or section.settings.blog_sidebar_desc != empty or section.settings.show_blog_tags or section.settings.show_recent_posts %}
		<div class="col-md-12">
	{% else %}
		<div class="col-md-12 offset-md-1">
	{% endif %}

				<section class="entry-content" id="article_content">
{%comment%}
<!-- 					<div class="article-image">
						{% if article.image %}
							{% render 'responsive-image' with article.image %}
						{% endif %}
					</div>

					<div class="blog-title-wrapper{% if article.image %} article-image-header{% endif %}">

						<div class="title-bar">
							<h1>{{ article.title }}</h1>
						</div>

						{% if section.settings.show_dates or section.settings.show_author_name %}

							{% if section.settings.show_dates %}
							<div class="blog-publish-date">
								<time class="updated blog--indiv-date" datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: format: 'month_day_year' }}</time>
							</div>
							{% endif %}

							{% if section.settings.show_author_name %}
							<div class="blog-author">
								<p>{{ article.author }}</p>
							</div>
							{% endif %}

						{% endif %}
					</div> -->
{%endcomment%}
					<div class="article__entry-content entry-content">
						{{ article.content }}
					</div>

					{% if article.tags.size > 0 %}
						<div id="blog-tags-wrapper">
							<span>{{ 'blogs.article.tags' | t }}:</span>
							{% for tag in article.tags %}
								<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
							{% endfor %}
						</div>
					{% endif %}

				</section>

				{% render 'social-sharing' %}

				{% if blog.previous_article or blog.next_article %}
					<div id="paginate">
						{% if blog.previous_article %}
							<div class="article-previous-article">
							<a href="{{ blog.previous_article }}" class="btn btn-custom">{{ 'blogs.article.previous_post' | t }}</a>
							</div>
						{% endif %}

						{% if blog.next_article %}
							<div class="article-next-article">
							<a href="{{ blog.next_article }}" class="btn btn-custom">{{ 'blogs.article.next_post' | t }}</a>
							</div>
						{% endif %}
						<div class="clear"></div>
					</div>
				{% endif %}

			  {% if blog.comments_enabled? %}

					{% paginate article.comments by 3 %}

						{% if article.comments != blank %}

							<div id="comments" class="comments">

								<div class="title-bar custom-font">
									<h2>{{ 'blogs.article.comments_title' | t }}</h2>
									<div class="clear"></div>
								</div>

								<ul>

									{% for comment in article.comments reversed %}
										<li class="comment clearfix">
											<div class="col-md-2">
												<img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" class="img-responsive" />
											</div>
											<div class="col-md-10">
												<div class="comment-author">
													{% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
													{% capture date %}<strong><time datetime="{{ comment.created_at | date: format: 'long' }}">{{ comment.created_at | date: format: 'long' }}</time></strong>{% endcapture %}
													{{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
												</div>
												<div class="comment-content">
													{{ comment.content }}
												</div>
											</div>
										</li>
			        		{% endfor %}

		        			{% if comment and comment.created_at %}
										<li class="comment clearfix">
											<div class="col-md-2">
												<img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" class="img-responsive" />
											</div>

											<div class="col-md-10">
												<div class="comment-author">
													{% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
													{% capture date %}<strong><time datetime="{{ comment.created_at | date: format: 'long' }}">{{ comment.created_at | date: format: 'long' }}</time></strong>{% endcapture %}
													{{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
												</div>

												<div class="comment-content">
													{{ comment.content }}
												</div>
											</div>
										</li>
		        			{% endif %}

								</ul>

								{% if paginate.pages > 1 %}

								<div class="pagination row">
								<ul>
									<li class="pagination-arrow pagination-arrow--previous grid__item col-sm-4 col-md-4 col-4">
										{% unless paginate.previous.is_link %}
											<div class="btn--custom btn--disabled">
												<span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
											</div>
										{% else %}
											<a href="{{ paginate.previous.url }}" class="btn--custom">
												<span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
											</a>
										{% endunless %}
									</li>

									<li class="pagination-text grid__item col-sm-4 col-md-4 col-4">
										<div class="d-none d-sm-block">{{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}</div>
									</li>

									<li class="pagination-arrow pagination-arrow--next grid__item col-sm-4 col-md-4 col-4">
										{% unless paginate.next.is_link %}
											<div class="btn--custom btn--disabled">
												<span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
											</div>
										{% else %}
											<a href="{{ paginate.next.url }}" class="btn--custom">
												<span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
											</a>
										{% endunless %}
									</li>
								</ul>
								</div>

								{% endif %}

			    		</div>

						{% endif %}

					{% endpaginate %}

					{% form article %}

						<div class="comment_form" id="comment-form">

							<div class="title-bar custom-font">
								<h2>{{ 'blogs.comments.title' | t }}</h2>
								<div class="clear"></div>
							</div>

							{% if form.posted_successfully? %}
								{% if blog.moderated? %}
									<div class="success-msg">{{ 'blogs.comments.moderated' | t }}</div>
								{% else %}
									<div class="success-msg">{{ 'blogs.comments.success' | t }}</div>
								{% endif %}
							{% endif %}

				      {% if form.errors %}
				        <p class="notice error-msg">{{ 'blogs.comments.field_error' | t }}</p>
				      {% endif %}

				      <div class="form-group clearfix{% if form.errors contains 'author' %} has-error{% endif %}">
				        <label for="comment_author">{{ 'blogs.comments.name' | t }} <strong class="req">*</strong></label>
				        <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text form-control {% if form.errors contains 'author' %}input-error{% endif %}" />
				      </div>

				      <div class="form-group clearfix{% if form.errors contains 'email' %} has-error{% endif %}">
				        <label for="comment_email">{{ 'blogs.comments.email' | t }} <strong class="req">*</strong></label>
				        <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text form-control {% if form.errors contains 'email' %}input-error{% endif %}" />
				      </div>

				      <div class="form-group clearfix{% if form.errors contains 'body' %} has-error{% endif %}">
				        <label for="comment_body">{{ 'blogs.comments.comment' | t }} <strong class="req">*</strong></label>
				        <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text form-control {% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea>
				      </div>

    					<input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="btn btn-custom" />

  					</div>

  				{% endform %}

				{% endif %}

			</div>
{%comment%}
			{% if section.settings.blog-sidebar-image or section.settings.blog_sidebar_title != empty or section.settings.blog_sidebar_desc != empty or section.settings.show_blog_tags or section.settings.show_recent_posts %}

<!-- 			<div class="col-md-4">

				<div id="blog-sidebar">

					{% if section.settings.blog-sidebar-image or section.settings.blog_sidebar_title != empty or section.settings.blog_sidebar_desc != empty %}
						<div class="blog-sidebar--section">

							{% if section.settings.blog-sidebar-image %}
								<a href="{{ section.settings.blog-sidebar-image.link }}" itemprop="url">
									{% capture props %}
										alt="{{ section.settings.blog-sidebar-image.alt | default: shop.name }}"
										style="max-width: {{ section.settings.blog-sidebar-image.width }}px"
									{% endcapture %}
									{% render 'responsive-image' with section.settings.blog-sidebar-image, props: props %}
								</a>
							{% endif %}

							{% if section.settings.blog_sidebar_title != empty %}
								<h3 class="type-subheading type-subheading--2">{{ section.settings.blog_sidebar_title | escape }}</h3>
							{% endif %}

							{% if section.settings.blog_sidebar_desc != empty %}
								<div class="blog-sidebar--description">{{ section.settings.blog_sidebar_desc }}</div>
							{% endif %}

						</div>
						{% endif %}

					{% if section.settings.show_blog_tags %}
					<div class="blog-sidebar--section">
						{% if blog.all_tags.size > 0 %}
							<h3 class="type-subheading type-subheading--2">{{ 'blogs.sidebar.categories' | t }}</h3>
							<ul class="blog-sidebar--categories">
								{% for tag in blog.all_tags %}
									{% if current_tags contains tag %}
										<li>{{ tag }}</li>
									{% else %}
										<li>{{ tag | link_to_tag: tag }}</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
					</div>
					{% endif %}

					{% if section.settings.show_recent_posts %}
						<div class="blog-sidebar--section">
							<h3 class="type-subheading type-subheading--2">{{ 'blogs.sidebar.latest_articles' | t }}</h3>
							<ul class="blog-sidebar--latest-articles">
								{% for article in blogs[blog.handle].articles limit:6 %}
									<a href="{{ article.url }}">
										<li class="row">
											{% if article.image %}
												<div class="col-md-4 blog-sidebar--article-image">
													{% render 'responsive-image' with article.image, props: '' %}
												</div>
												<div class="col-md-8 blog-sidebar--info">
													<h4>{{ article.title }}</h4>
													<p>
														{% if section.settings.show_dates %}
															<time datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: "%b %d, %Y" }}</time>
														{% endif %}
													</p>
												</div>
											{% else %}
												<h4>{{ article.title }}</h4>
												<p>
													{% if section.settings.show_dates %}
														<time datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | date: "%b %d, %Y" }}</time>
													{% endif %}
												</p>
											{% endif %}
										</li>
									</a>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

				</div>

			</div> -->

			{% endif %}
{%endcomment%}
	</div>

</article>

{% section 'template--article' %}
