<!-- /templates/blog.liquid -->
{% comment %}
  The contents of the blog.liquid template can be found in /sections/template--blog.liquid
{% endcomment %}

{% section 'template--blog' %}

  <script type="text/javascript">
  window.analytics.track('Viewed Blog', {
    pageType: 'Front Page',
    pageTitle: document.title,
    blogArticleCount: {{ blog.articles_count }},
    blogTitle: "{{ blog.title }}",
    blogUrl: "{{ blog.url }}",
    referrerUrl: document.referrer,
    referrerPath: new URL(document.referrer).pathname,
    urlHref: window.location.href,
    urlPath: window.location.pathname,
    urlHash: window.location.hash
    });
  </script>