{% layout none %}

{% assign cart_origin_total = 0 %}
{% assign cart_discount_total = 0 %}


<div>

  <div class="cart-items" data-count="{{ cart.item_count }}">

    {% assign idx = 0 %}
    {% assign item_count = 0 %}

    {% for item in cart.items %}
      {% if item.product.tags contains 'discount' %}
        {% assign item_count = item_count | plus: item.quantity %}
      {% endif %}
    {% endfor %}

    {% if item_count == 2 %}
      {% assign idx = 1 %}
    {% elsif item_count == 3 %}
      {% assign idx = 2 %}
    {% elsif item_count >= 4 %}
      {% assign idx = 3 %}
    {% endif %}

    {% for item in cart.items %}

      {% assign c_variant = item.variant %}

      {% assign new_variant = c_variant %}

      {% assign id = c_variant.id %}

      {% assign original_price = 0 %}


      {% assign is_discount = false %}

      {% comment %}
      {% assign item_count = 0 %}
      {% endcomment %}

      {% for __item in cart.items %}
        {% if item.product.id == __item.product.id %}
          {% assign item_count = item_count | plus: __item.quantity %}
        {% endif %}
      {% endfor %}

      {% comment %}
      {% assign idx = 0 %}
      {% endcomment %}

      {% if item.product.tags contains 'discount' %}
  
        {% assign is_discount = true %}
        
        {% comment %}
        {% if item_count == 2 %}
          {% assign idx = 1 %}
        {% elsif item_count == 3 %}
          {% assign idx = 2 %}
        {% elsif item_count >= 4 %}
          {% assign idx = 3 %}
        {% endif %}
        {% endcomment %}


        {% assign xx = 0 %}

        {% if item.product.options.size == 1 %}
          {% assign id = item.product.variants[idx].id %}
          {% assign new_variant = item.product.variants[idx] %}
          {% assign original_price = item.product.variants.first.price %}
        {% else %}
          {% assign opt_len = item.product.options.size | minus: 1 %}
          {% assign _idx = 0 %}


          

          {% for variant in item.product.variants %}

            {% if forloop.first %}
              {% assign original_price = variant.price %}
            {% endif %}

            {% assign is_v = true %}

            {% for i in (1..opt_len) %}
              {% assign opt_handle = 'option' | append: i %}

              {% if variant[opt_handle] == c_variant[opt_handle] %}
              {% else %}
                {% assign is_v = false %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if idx == _idx and is_v == true %}
                {% assign id = variant.id %}
              {% assign new_variant = variant %}
              {% break %}
            {% endif %}

            {% if is_v == true %}
              {% assign _idx = _idx | plus: 1 %}
            {% endif %}

          {% endfor %}


          {% comment %}

          {% for i in (1..opt_len) %}
            {% assign opt_handle = 'option' | append: i %}
            {% for variant in item.product.variants %}
              {% if forloop.first %}
                {% assign original_price = variant.price %}
              {% endif %}
              {% if variant[opt_handle] == c_variant[opt_handle] %}
                {% if idx == _idx %}
                  {% assign id = variant.id %}
                  {% assign new_variant = variant %}
                {% endif %}
                {% assign _idx = _idx | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% endcomment %}


        {% endif %}
      {% else %}
        {% assign original_price = item.product.variants.first.price %}
      {% endif %}

      <div class="cart-item" data-id="{{ id }}" data-product-id="{{ item.product.id }}" data-idx="{{ idx }}" data-count="{{ item.quantity }}" data-discount="{{ is_discount }}" data-discount-index="{{ idx }}">

        <div class="cart-item-image--wrapper">
          <a class="cart-item-link" href="{{ item.url }}">
            <img class="cart-item-image" src="{{ item | img_url: '200x' }}" alt="" />
          </a>
        </div>

        <div class="cart-item-details--wrapper">

          <a href="{{ item.url }}" class="cart-item-link cart-item-details--product-title-wrapper">
            <span class="cart-item-product-title">{{ item.product.title }}<br>{{ new_variant.title | replace: ' / 0%', '' }}</span>
            <div class="cart-item-price-wrapper">
              <!-- <span class="sr-only">{{ 'products.general.now_price' | t }}</span> -->
              {% assign original_line_price = original_price | times: item.quantity %}
              {% assign new_line_price = new_variant.price | times: item.quantity %}
              {% if original_line_price > new_line_price %}
                <span class="was-price">{{ original_line_price | money }}</span>
              {% endif %}

              {% assign cart_origin_total = cart_origin_total | plus: original_line_price %}
              {% assign cart_discount_total = cart_discount_total | plus: new_line_price %}

              <span class="cart-item-price">{{ new_line_price | money }}</span>
              <!-- <span class="sr-only">{{ 'products.general.was_price' | t }}</span> -->
                            
              <span class="cart-item-price-original"></span>
              <span class="cart-item-price-per-unit"></span>
            </div>    
          </a>
                    
          <span class="cart-item-variant-title hide"></span>

            <ul class="order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}"></ul>

            <div class="cart-item--quantity-remove-wrapper">

              <div class="cart-item--quantity-wrapper">
                <button type="button" class="cart-item-quantity-button111 cart-item-decrease111" data-qty-update data-amount="-1" aria-label="Reduce item quantity by one" style="border-right:1px solid rgba(0,0,0,0.1);">-</button>
                <input type="text" class="cart-item-quantity" min="1" pattern="[0-9]*" aria-label="quantity" value="{{ item.quantity }}" />
                <button type="button" class="cart-item-quantity-button111 cart-item-increase111" data-qty-update data-amount="1" aria-label="Increase item quantity by one" style="border-left:1px solid rgba(0,0,0,0.1);">+</button>
              </div>

              <div class="cart-item-remove-button-container">
                <button type="button" id="cart-item-remove-button111" data-item-remove>
                  <svg width="9" viewBox="0 0 10 10">
                    <path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path>
                  </svg>
                </button>
              </div>

            </div>
        </div>
      </div>

    {% endfor %}

  </div>

  <div class="cart_summary">
    
    {% assign num_total = cart_origin_total | money_without_currency | replace: ',', '' %}
    {% assign num_discount = cart_discount_total | money_without_currency | replace: ',', '' %}
    {% assign num_save = num_total | minus: num_discount %}

    <div class="cart_total text-bold">
      <span class="label">Total</span>
      <span class="price">{{ cart_origin_total | minus: num_save | money }}</span>
    </div>

    {% if cart_origin_total > cart_discount_total %}
      <div class="cart_save">
        <span class="label">You save</span>
        <span class="price">{{ num_save | money }}</span>
      </div>
  {% endif %}
  </div>

  <div class="shipping-bar-container" data-shipping-bar>

    {% assign promote_text = "[value] away from free shipping 📦"%}
    {% assign unlocked_text = "Congrats! You get free shipping 🎊"%}
    
    {% if request.host == 'relevantcos.dk' %}
      {% assign threshold = 30000 %}
    {% elsif request.host == 'relevantcos.se' %}
      {% assign threshold = 40000 %}
    {% elsif request.host == 'relevantcos.co.uk' %}
      {% assign threshold = 3500 %}
    {% elsif request.host == 'relevantcos.us' %}
      {% assign threshold = 5000 %}
    {% else %}
      {% assign threshold = 4000 %}
    {% endif %}

    {% assign value_left = threshold | minus: cart_discount_total %}
    {% assign value_left_money = value_left | money %}

    <div class="shipping-bar" data-promote="{{promote_text}}" data-unlocked="{{unlocked_text}}" data-threshold="{{threshold}}">
      {% if value_left <= 0 %}
      <p class="shipping-bar__message">{{unlocked_text}}</p>
      {% else %}
      <p class="shipping-bar__message">{{promote_text | replace:'[value]', value_left_money}}</p>
      {% endif %}
    </div>
    <div class="shipping-bar-progress" style="background-color: rgb(180, 182, 188);">
      <span id="shipping-progress-inner" class="shipping-bar-progress-inner" style="width: 100%;"></span>
    </div>
    
  </div>


</div>