<!-- /templates/cart.liquid -->
{% comment %}
  The contents of the cart.liquid template can be found in /sections/template--cart.liquid
{% endcomment %}

{% section 'template--cart' %}

<script type="text/javascript">
  analytics.track('Viewed Cart', {
    itemCount: {{ cart.item_count }},
    totalPrice: {{ cart.total_price }},
    totalWeight: {{ cart.total_weight }}
  });

</script>


<script type="text/javascript">
snaptr('track', 'ADD_CART', {
'currency': '{{shop.currency}}',
'price': {{ cart.total_price | money_without_currency | remove: ',' }},
'item_ids': [{% for item in cart.items %}'{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
});
</script>

 